<p id="notice"><%= notice %></p>

<p>
  <b>Filename:</b>
  <%= @todo_file.FileName %>
</p>

<p>
  <b>Contents:</b>
  <%= @todo_file.Contents %>
</p>

<p>
  <b>User:</b>
  <%= @todo_file.user_id %>
</p>


<%= link_to 'Edit', edit_todo_file_path(@todo_file) %> |
<%= link_to 'Back', todo_files_path %>
