<p id="notice"><%= notice %></p>

<p>
  <b><%= @todo_file.filename%></b>
</p>

<div>Revisions</div>
 <% @revisions.each do |rev|%>
    <div><%=rev.revision_at%></div>
    <pre><%=rev.contents%></pre>

    <% end%>
<%= link_to 'Edit', edit_todo_file_path(@todo_file) %>
