<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name) , :html=>{:class=>"form-stacked", :novalidate => true}) do |f| %>

    <% unless resource.errors.empty? %>
    <div class="alert alert-error">
    <%= devise_error_messages! %>
    </div>
    <% end %>
    <fieldset>
      <div><%= f.label :username %>
      <%= f.email_field :username %></div>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
        </fieldset>
<% end %>

