<div style="position: relative;">

  <% unless @compare_file.nil?%>
      <div id="accept-modal" class="modal hide fade">
        <div class="modal-header">
          <a href="#" class="close" data-dismiss="modal">&times;</a>
          <h3>Accept changes from <%= file_local_path(@compare_file)%>?</h3>
        </div>
        <div class="modal-body">
            <div class="clearfix">
              Apply changes from <%=link_to file_local_path(@compare_file), file_local_path(@compare_file)%> back to your file (<%=@file.shortName%>)?
            </div>
        </div>
        <div class="modal-footer">
          <%= form_tag url_for(:controller=>"task_folder", :action=>"update", :method=>:accept), :method=>:put do%>
           <%= button_tag "Accept", :class => "btn btn-primary" %>
           <a href="#" id="cancel-accept-file" class="btn secondary cancel">Cancel</a>
           <%= hidden_field_tag "compare_file", file_local_path(@compare_file) %>
          <% end %>
        </div>
      </div>
  <% end %>
  <% unless @file.copied_from.nil?%>
  <div id="reply-modal" class="modal hide fade">
    <div class="modal-header">
      <a href="#" class="close" data-dismiss="modal">&times;</a>
      <h3>Create reply to <%= @file.copied_from.user.username%>?</h3>
    </div>
    <div class="modal-body">
        <div class="clearfix">
          Click Reply to share your changes to <%=link_to @file.copied_from.shortName, file_local_path(@file.copied_from)%> back to <%=@file.copied_from.user.username%>.
        </div>
    </div>
    <div class="modal-footer">
      <%= form_tag url_for(:controller=>"task_folder", :action=>"update", :method=>:reply), :method=>:put, :id=>"reply-form" do%>
       <%= button_tag "Reply", :class => "btn btn-primary" %>
       <a href="#" id="cancel-reply-file" class="btn secondary cancel">Cancel</a>
      <% end %>
    </div>
  </div>
  <% end %>
    <div id="suggest-modal" class="modal hide fade">
      <%= form_tag(url_for(:controller=>"task_folder", :action=>"update",:method=>"suggestion"), :remote => true, :method=>:put,:format => :json, :id => "suggestion-form") do  %>
          <%= hidden_field_tag 'original_content'%>
          <%= hidden_field_tag 'line_number'%>
          <%= hidden_field_tag 'revision_uuid',@file.current_revision.revision_uuid%>
        <div class="modal-header">
          <a href="#" class="close" data-dismiss="modal">&times;</a>
          <h3>Suggest change to <%=@file.shortName%></h3>
        </div>
        <div class="modal-body">
          <div class="clearfix">
              <h3>Make your change here</h3>
            <div class="suggestion-editor">
              <textarea name="replacement_content" id="suggestion-text-editor"></textarea>
            </div>
            <div>Reason: <select><option>Typo</option><option>Style</option><option>Factual</option><option>Other</option></select></div>
          </div>
        </div>
        <div class="modal-footer">
          <%= button_tag "Suggest", :class => "btn btn-primary" %>
          <a href="#" id="cancel-publish-file" class="btn secondary cancel">Cancel</a>
        </div>
    <% end %>
    </div>


    <div id="publish-modal" class="modal hide fade">
      <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h3>Publish <%=@file.shortName%>?</h3>
      </div>
      <div class="modal-body">
          <div class="clearfix">
          <div>Publish <%=@file.filename%>?</div>
          </div>
      </div>
      <div class="modal-footer">
        <%= form_tag url_for(:controller=>"task_folder", :action=>"update", :method=>:publish), :method=>:put do%>
         <%= button_tag "Publish", :class => "btn btn-primary" %>
         <a href="#" id="cancel-publish-file" class="btn secondary cancel">Cancel</a>
        <% end %>
      </div>
    </div>

  <div id="unpublish-modal" class="modal hide fade">
     <div class="modal-header">
       <a href="#" class="close" data-dismiss="modal">&times;</a>
       <h3>Unpublish <%=@file.shortName%>?</h3>
     </div>
     <div class="modal-body">
         <div class="clearfix">
         <div>Unpublish <%=@file.filename%>?</div>
         </div>
     </div>
     <div class="modal-footer">
       <%= form_tag url_for(:controller=>"task_folder", :action=>"update", :method=>:unpublish), :method=>:put do%>
        <%= button_tag "Unpublish", :class => "btn btn-primary" %>
        <a href="#" id="cancel-publish-file" class="btn secondary cancel">Cancel</a>
       <% end %>
     </div>
   </div>

     <div id="delete-modal" class="modal hide fade">
    <div class="modal-header">
      <a href="#" class="close" data-dismiss="modal">&times;</a>
      <h3>Delete <%=@file.shortName%>?</h3>
    </div>
    <div class="modal-body">
        <div class="clearfix">
        <div>Are you sure you want to delete <%=@file.filename%>?</div>
        </div>
    </div>
    <div class="modal-footer">
      <%= form_tag url_for(:controller=>"task_folder", :action=>"delete"), :method=>:delete do%>
       <%= button_tag "Delete", :class => "btn btn-primary" %>
       <a href="#" id="cancel-delete-file" class="btn secondary cancel">Cancel</a>
      <% end %>
    </div>
  </div>

  <div id="move-modal" class="modal hide fade">
    <%=form_tag(url_for(:action=>"update", :path=>params[:path],:method=>"move"), :method=>:put, :id=>"move-form") do %>
    <div class="modal-header">
      <a href="#" class="close" data-dismiss="modal">&times;</a>
      <h3>Move <%=@file.shortName%></h3>
    </div>
    <div class="modal-body">
        <div class="clearfix">
        <div>Enter a new filename and path</div>
        <div><input tabindex=1 type="text" name="filename" class="span4" value="<%=@file.filename%>"></div>
        </div>
    </div>
    <div class="modal-footer">
      <button class="btn primary">Move</button>
      <a href="#" id="cancel-move-file" class="btn secondary cancel">Cancel</a>
    </div>
     <% end %>
  </div>
  <div id="copy-modal" class="modal hide fade">
    <% if !user_signed_in? %> 
    <div class="modal-header">
      <a href="#" class="close" data-dismiss="modal">&times;</a>
      <h3>Copy <%=@file.shortName%>?</h3>
    <div class="modal-body">
      <div>You must have an account to copy a note.</div>
    </div>
    <div class="modal-footer">
      <div><a class="btn btn-success btn-large" href="<%=new_registration_path(resource_name)%>">Create an account</a>
       <%= link_to "Sign in", new_session_path(resource_name), :class=>"btn btn-large"%>
      </div>
    </div>
  </div>
    <% else %>
    <%=form_tag(url_for(:action=>"update", :path=>params[:path],:method=>"copy"), :method=>:put, :id=>"copy-form", :class=>"inline-form") do %>
    <div class="modal-header">
      <a href="#" class="close" data-dismiss="modal">&times;</a>
      <h3>Copy <%=@file.shortName%></h3>
    </div>
    <div class="modal-body">
        <div class="clearfix">
        <div>Enter a filename and path</div>
        <div><input type="text" name="copy_filename" class="span4" value="<%=@file.filename%>"></div>
          <%=hidden_field_tag "copy_contents" %>
          <%=hidden_field_tag "revision_uuid", @file.current_revision.revision_uuid.to_s %>
        </div>
    </div>
    <div class="modal-footer">
      <input type="submit" class="btn primary" value="Copy">
      <a href="#" id="cancel-copy-file" class="btn secondary cancel">Cancel</a>
    </div>
     <% end %>
   <% end %>
  </div>
  <div id="share-modal" class="modal hide fade">
    <%= form_tag url_for(:controller=>"task_folder", :action=>"update", :method=>:share), :method=>:put, :class=>"inline-form" do%>
     <div class="modal-header">
       <a href="#" class="close" data-dismiss="modal">&times;</a>
       <h3>Share <%=@file.shortName%>?</h3>
     </div>
     <div class="modal-body">
         <div class="clearfix"></div>
         <label class="control-label">Share with <a href="#" rel="popover" data-content="Share your note with specific people.<ul><li>They receive an email with the note.</li><li>They can view, edit, copy, and reply to your note.</li><li>You can accept or reject any changes they make.</li>" data-original-title="About Sharing Notes"><i class="icon-question-sign"></i></a></label>
         <input tabindex="1" id="shared_user_list" placeholder="doug, user123, somebody@gmail.com" class="input-xlarge" name="shared_user_list" value="<%=get_shared_user_list%>">
           <label class="checkbox">
               <input class="checkbox" name="make_public" value="y" type="checkbox" <%= get_public_checkbox_checked %>>Make public <a href="#" rel="popover" data-content="Publish this note for anyone to see." data-original-title="About Publishing Notes"><i class="icon-question-sign"></i></a>
             </label>
     </div>
     <div class="modal-footer">
        <%= button_tag "Share", :class => "btn btn-primary" %>
        <a href="#" id="cancel-publish-file" class="btn secondary cancel">Cancel</a>
     </div>
    <% end %>
   </div>

  <div id="move-dir-modal" class="modal hide fade">
        <%=form_tag(url_for(:action=>"move", :path=>@path), :method=>"move", :id=>"move-dir-form") do %>
        <div class="modal-header">
          <a href="#" class="close" data-dismiss="modal">&times;</a>
          <h3>Move Directory "<%=@taskfolder.path%>"</h3>
        </div>
        <div class="modal-body">
            <div class="clearfix">
             <div>This will move all files in this directory (and sub-directories) to a new path</div>
            <div>Enter a new path</div>
            <div><input type="text" name="move-dir-name" class="span8" value="<%=@taskfolder.path%>"></div>
            </div>
        </div>
        <div class="modal-footer">
          <button class="btn primary">Move</button>
          <a href="#" id="cancel-move-dir" class="btn secondary cancel">Cancel</a>
        </div>
         <% end %>
      </div>
</div>
