<% content_for :javascript_includes do %>
  <%= javascript_include_tag "edit_file"  %>
  <%= javascript_include_tag "undo_mode" %>

<% end %>
<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag "task_folder"  %>
<% end %>
<script type="text/javascript ">
function convertToSlug(Text)
{
    return Text
        .toLowerCase()
        .replace(/[^\w ]+/g,'')
        .replace(/ +/g,'-')
        ;
}

</script>
<style>

        .CodeMirror-scroll
        {

             height: auto; overflow: visible;
            min-height: 300px;
        }
        span.cm-undo-task
        {
            color: green;
            text-decoration: underline;
            cursor: pointer;
            cursor: hand;

        }
        span.cm-undo-people
        {
            color: #8b4513;
            text-decoration: underline;
            cursor: pointer;
            cursor: hand;
        }
        span.cm-undo-link
        {
            color:blue;
            text-decoration: underline;
            cursor: pointer;
            cursor: hand;

        }
        span.cm-undo-tag
        {
            color:purple;
            text-decoration: underline;
            cursor: pointer;
            cursor: hand;
        }

    .fullscreen {
        display: block;
        position: absolute;
        background-color: white;
        top: 40px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        margin: 0;
        padding: 0;
        border: 0px solid #BBBBBB;
        opacity: 1;
    }

</style>
<script>
   function toggleFullscreenEditing()
    {
        var editorDiv = $('#read-only-contents');
        if (!editorDiv.hasClass('fullscreen')) {
            toggleFullscreenEditing.beforeFullscreen = { height: editorDiv.height(), width: editorDiv.width() }
            editorDiv.addClass('fullscreen');
            editorDiv.height('100%');
            editorDiv.width('100%');
            editor.refresh();
        }
        else {
            editorDiv.removeClass('fullscreen');
            editorDiv.height(toggleFullscreenEditing.beforeFullscreen.height);
            editorDiv.width(toggleFullscreenEditing.beforeFullscreen.width);
            editor.refresh();
        }
    }

</script>
<%= render 'layouts/breadcrumb'%>

<% if !@is_new_file %>
<div style="position: relative;">

    <div id="publish-modal" class="modal hide fade">
      <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Publish <%=@file.shortName%>?</h3>
      </div>
      <div class="modal-body">
          <div class="clearfix">
          <div>Publish <%=@file.filename%>?</div>
          </div>
      </div>
      <div class="modal-footer">
        <%= form_tag url_for(:controller=>"task_folder", :action=>"update", :method=>:publish), :method=>:put do%>
         <%= button_tag "Publish", :class => "btn btn-primary" %>
         <a href="#" id="cancel-publish-file" class="btn secondary cancel">Cancel</a>
        <% end %>
      </div>
    </div>

  <div id="unpublish-modal" class="modal hide fade">
     <div class="modal-header">
       <a href="#" class="close">&times;</a>
       <h3>Unpublish <%=@file.shortName%>?</h3>
     </div>
     <div class="modal-body">
         <div class="clearfix">
         <div>Unpublish <%=@file.filename%>?</div>
         </div>
     </div>
     <div class="modal-footer">
       <%= form_tag url_for(:controller=>"task_folder", :action=>"update", :method=>:unpublish), :method=>:put do%>
        <%= button_tag "Unpublish", :class => "btn btn-primary" %>
        <a href="#" id="cancel-publish-file" class="btn secondary cancel">Cancel</a>
       <% end %>
     </div>
   </div>

     <div id="delete-modal" class="modal hide fade">
    <div class="modal-header">
      <a href="#" class="close">&times;</a>
      <h3>Delete <%=@file.shortName%>?</h3>
    </div>
    <div class="modal-body">
        <div class="clearfix">
        <div>Are you sure you want to delete <%=@file.filename%>?</div>
        </div>
    </div>
    <div class="modal-footer">
      <%= link_to 'Delete', @file, method: :delete, :class => "btn danger"%>
      <a href="#" id="cancel-delete-file" class="btn secondary cancel">Cancel</a>
    </div>
  </div>
  <div id="move-modal" class="modal hide fade">
    <%=form_tag(url_for(:action=>"update", :path=>params[:path],:method=>"move"), :method=>:put, :id=>"move-form") do %>
    <div class="modal-header">
      <a href="#" class="close">&times;</a>
      <h3>Move <%=@file.shortName%></h3>
    </div>
    <div class="modal-body">
        <div class="clearfix">
        <div>Enter a new filename and path</div>
        <div><input type="text" name="filename" class="span4" value="<%=@file.filename%>"></div>
        </div>
    </div>
    <div class="modal-footer">
      <button class="btn primary">Move</button>
      <a href="#" id="cancel-move-file" class="btn secondary cancel">Cancel</a>
    </div>
     <% end %>
  </div>
</div>
<% else %>
    <%=form_tag url_for(:action=>"update", :controller => "task_folder"), :method=>:put, :remote=>true, :id => "save-new-form"  do %>
    <div id="save-modal" class="modal hide fade">
      <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Save New File</h3>
      </div>
      <div class="modal-body">
          <div class="clearfix">
          <div>Filename</div>
          <div class="input">
                <input id="filename" name="filename" class="xlarge">
          </div>
          </div>

      </div>
      <div class="modal-footer">
        <%=hidden_field_tag "contents"%>
        <a href="#"  id="confirm-save-file" class="btn btn-primary">Save</a>
        <a href="#" id="cancel-save-file" class="btn secondary">Cancel</a>
      </div>
    </div>
    <% end %>

<% end%>
<style>

</style>

<% content_for :buttons do %>
<% end %>

<div class="row-fluid">
<div class="span8">
<div class="row-fluid" style="margin-bottom:.2em;">
  <h1 style="display:inline; margin-right:.5em;"><%=@header%></h1>
    <% if @file.is_public %>
        <span class="label label-success">Published</span>
    <% else %>
        <span class="label">Private</span>
    <% end %>

    <span id="loading" class="label" style="display:none">Saving...</span>

    <div class="pull-right">
    <% if !@is_new_file%>
            <div class="btn-group">
              <% if @file.is_public %>
                <a href="#" id="unpublish-button" class="btn">Unpublish</a>
              <% else %>
                <a href="#" id="publish-button" class="btn btn-success">Publish</a>
              <% end %>
            <a href="#" class="btn btn-primary hide" id="edit-button">Save</a>
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            More
            <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
            <li style="text-align: right"><%= link_to "New", {:controller => "task_folder", :action=>"new_file", :path=>@file.path, :username=>current_user.username}, :method=>:post%></li>
            <li style="text-align: right"><a href="#" id="move-button">Move</a></li>
            <li style="text-align: right"><a href="#"  id="copy-button" >Copy</a></li>
            <li style="text-align: right"><a href="#" id="delete-button">Delete</a></li>
            </ul>
         </div>
    <% else %>
        <div class="new-mode-buttons">
        <a href="#" id="save-new" class="btn btn-primary">Save</a>
        </div>
    <% end %>

  </div>
</div>
  <div id="status" style="display:none">&nbsp;</div>
  <div id="page-path" style="display:none"><%=url_for(:controller => "task_folder", :action=>"folder_view", :path=> @file.filename, :only_path => true, :username=>@file.user.username)%></div>


    <div id="read-only-contents" style="font-family: courier new;width:100%;border: solid black 1px">
      <textarea id="editor"><%=@file.contents%></textarea>
      </div>

<% if !@file.contents.nil? %>
    <div>Last updated <%=time_ago_in_words(@file.revision_at)%> ago</div>
<% end %>
    <%= form_tag(url_for(:controller=>"task_folder", :action=>"update"), :remote => true, :method=>:put,:format => :json, :id => "update-form") do  %>
    <%= hidden_field_tag :contents%>
    <%= hidden_field_tag 'filename'%>
    <%= hidden_field_tag 'current-path', params[:path] %>
<% end %>
  </div>

<div class="span4">
  <% unless @is_new_file%>
  <h3>Feed</h3>
      <div id="right-rail-feed">
    <%= render 'right_rail'%>
      </div>
  <% end %>
</div>
</div>

