<% content_for :javascript_includes do %>
<% end %>
<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag "task_folder"  %>
<% end %>
<%= render 'modals'%>
<div class="container">
  <div class="row">
    <div class="span7">
      <article class="note-box-base note-box-public">
      <div class="undo-new-header">
        <h1><%=link_to file.shortName, file_local_path(file)%></h1>
      </div>
      <div class="note-box-body-public">
        <% unless @file.slideshow.first_image.nil?%>
          <%=image_tag(@file.slideshow.first_image, :class=>"thumbnail public-note-image")%>
        <% end %>
        <% TodoFile.formatted_lines(@file.contents).each do |line| %>
          <div class="note-box-line-public"><%=render_line(line,1).html_safe%></div>
        <% end %>
      </div>
      <div class="note-box-footer">
        <div class="pull-right">
          <a class="brand" href="/"><span class="undo-un">un</span><span class="undo-do">do</span><span class="undo-io">.io</span></a>
        </div>
        <div>in <%=link_to file.public_path_without_file, file.public_path_without_file%></div>
      </div>
      </article>
    </div>
    <div class="span5">
      <div class="right-rail-public">
          <div style="padding:5px;" class="pull-right">
<a class="brand" href="/"><span class="undo-un">un</span><span class="undo-do">do</span><span class="undo-io">.io</span></a>
</div>
        <h2><%=image_tag file.user.avatar.url(:thumb)%>
          <% if file.user != current_user || show_avatar%>
            <%=link_to file.user.username, user_path(file.user), :class=>"user-link" %>
          <% end %>
        </h2>
        <% if signed_in?%>
          <div>
            <hr>
           <h3>Follow</h3>
           <div id="follow-user-section">
           <%= render 'follow_user'%>
         </div>
            <hr>
           <h3>Want to recall this note later?</h3>
              <div>File this in your notes, write your own thoughts.</div>
              <div><a href="#" id="copy-button" class="btn"><i class="icon icon-star"></i> Take Note</a></div> 
              <hr>
              <h3>More like this</h3>
              <ul>
                <li><%=link_to "Notes from " + file.user.username, user_path(file.user) %></li>
                <li><%=link_to "Notes in " + file.public_path_without_file, file.public_path_without_file %></li>
              </ul>
          </div>

        <% else %>
        <h3><%=file.user.username%> is using undo.io</h3>
        <div>Create, share, and discover notes.</div>
        <ul>
          <li>Discover people and notes on topics that interest you.</li>
          <li>Stay focused, and keep all your ideas at your fingertips.</li>
          <li>Create tasks, events, and slides</li>
        </ul>
        <div style="text-align:center;padding-top:10px"><a href="/users/sign_up" class="btn-large btn-success">Create an account</a></div>
      <% end %>
      </div>
    </div>
  </div>
</div>
