<% content_for :javascript_includes do %>
  <%= javascript_include_tag "undo_mode" %>
  <%= javascript_include_tag "edit_file"  %>
  <%= javascript_include_tag "shortcuts/file"  %>
  <%= javascript_include_tag "read_file"  %>
<% end %>

<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag "task_folder"  %>
  <%= stylesheet_link_tag "codemirror/utils/simple-hint"  %>
<% end %>

  <% if !@is_new_file %>
<%= render 'modals'%>
<% else %>
    <%=form_tag url_for(:action=>"update", :controller => "task_folder"), :method=>:put, :remote=>true, :id => "save-new-form"  do %>
    <div id="save-modal" class="modal hide fade">
      <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Save New File</h3>
      </div>
      <div class="modal-body">
          <div class="clearfix">
          <div>Filename</div>
          <div class="input">
                <input tabindex=1 id="filename" name="filename" class="xlarge">
          </div>
          </div>
      </div>
      <div class="modal-footer">
        <%=hidden_field_tag "savecontents"%>
        <input type="submit" id="confirm-save-file" class="btn btn-primary">
        <a href="#" id="cancel-save-file" class="btn secondary">Cancel</a>
      </div>
    </div>
    <% end %>

<% end%>
<div class="row-fluid">
  <div class="span6" id="article-column">
    <div id="status" style="display:none">&nbsp;</div>
    <div id="page-path" style="display:none"><%=url_for(:controller => "task_folder", :action=>"folder_view", :path=> @file.filename, :only_path => true, :username=>@file.user.username)%></div>
    <%= render 'layouts/breadcrumb'%>
    <div class="editor-title">
      <div class="pull-right" id="button-container">
        <%=render 'access_labels'%>
        <%= render 'editor_buttons' %>
      </div>
      <div><%=image_tag @file.user.avatar.url(:thumb)%>
<h1 style="display:inline"><%=@file.shortName%> </h1>  </div>
    </div>
    <div>
      <div style="margin-right:10px" class="pull-right"> last edited at <%=@file.revision_at.strftime('%D %r')%></div>
      <div class="editor-path"><%=link_to @user_who_wrote_this.user_folder_name, user_path(@user_who_wrote_this)%></div>
    </div>
    <% if @owned_by_user && (@compare_file.nil? && !@combined) && !@file.is_read_only%>
      <div id="read-only-contents">
        <div class="editor-border"></div>
        <textarea name="editor" id="editor"><%=@file.contents%></textarea>
      </div>
    <% else %>
      <%= render 'read_only_article_viewer'%>
    <% end %>
    <%= form_tag(url_for(:controller=>"task_folder", :action=>"update"), :remote => true, :method=>:put,:format => :json, :id => "update-form") do  %>
      <%= hidden_field_tag 'savecontents'%>
      <%= hidden_field_tag 'filename'%>
      <%= hidden_field_tag 'current-path', params[:path] %>
    <% end %>
  </div>
  <div class="span6">
    <div style="margin-bottom:10px;padding:3px;background-color:white;border:1px solid #DDD;border-radius:3px;">
  <% if !@is_new_file %>
      <ul style="display: inline-block;margin-bottom: 0px;" class="nav nav-pills">
        <% @note_views.each do |view| %>
          <% if params[:view] == view.id %>
            <li class="active">
          <% else %>
            <li>
          <% end %>
          <%= link_to :controller => "task_folder", :action=>"folder_view", :path=>@path, :view=>view.querystring do %>
            <%=view.name%> 
          <% end%>
          </li>
        <% end %>
      </ul>
    <% end %>
    </div>
    <div class="right-rail-container">
      <%= render 'right_rail_new', :show_public_path=>false%>
    </div>
  </div>
  </div>
</div>
