<% content_for :javascript_includes do %>
    <%= javascript_include_tag "undo_mode" %>
  <%= javascript_include_tag "edit_file"  %>

<% end %>
<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag "task_folder"  %>
<% end %>
<script type="text/javascript ">
function convertToSlug(Text)
{
    return Text
        .toLowerCase()
        .replace(/[^\w ]+/g,'')
        .replace(/ +/g,'-')
        ;
}

</script>
<script>
   function toggleFullscreenEditing()
    {
        var editorDiv = $('#read-only-contents');
        if (!editorDiv.hasClass('fullscreen')) {
            toggleFullscreenEditing.beforeFullscreen = { height: editorDiv.height(), width: editorDiv.width() }
            editorDiv.addClass('fullscreen');
            editorDiv.height('100%');
            editorDiv.width('100%');
            editor.refresh();
        }
        else {
            editorDiv.removeClass('fullscreen');
            editorDiv.height(toggleFullscreenEditing.beforeFullscreen.height);
            editorDiv.width(toggleFullscreenEditing.beforeFullscreen.width);
            editor.refresh();
        }
    }

</script>
<%= render 'layouts/breadcrumb'%>

<input style="display:none;position:absolute;" class="autocomplete" type="text" data-provide="typeahead" data-source='["doug","debbie","darryl","jamy"]' data-items="4">
<% if !@is_new_file %>
<%= render 'modals'%>
<% else %>
    <%=form_tag url_for(:action=>"update", :controller => "task_folder"), :method=>:put, :remote=>true, :id => "save-new-form"  do %>
    <div id="save-modal" class="modal hide fade">
      <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Save New File</h3>
      </div>
      <div class="modal-body">
          <div class="clearfix">
          <div>Filename</div>
          <div class="input">
                <input id="filename" name="filename" class="xlarge">
          </div>
          </div>

      </div>
      <div class="modal-footer">
        <%=hidden_field_tag "savecontents"%>
        <a href="#"  id="confirm-save-file" class="btn btn-primary">Save</a>
        <a href="#" id="cancel-save-file" class="btn secondary">Cancel</a>
      </div>
    </div>
    <% end %>

<% end%>
<style>

</style>

<% content_for :buttons do %>
<% end %>

<div class="row-fluid">


  <div class="span8">
<div class="row-fluid" style="margin-bottom:.2em;">
  <h1 style="display:inline; margin-right:.5em;"><%=@header%><%=render 'access_labels'%></h1>
   <% unless @compare_file.nil? %>
   <div>Compared to <%=link_to file_local_path(@compare_file), file_local_path(@compare_file)%></div>
   <% end %>

    <span id="loading" class="label" style="display:none">Saving...</span>

    <div class="pull-right">

      <% if !@owned_by_user %>
          <div class="btn-group">
          <a href="#" class="btn btn-success" id="copy-button"><i class="icon-download icon-white"></i> Copy</a>
       </div>
      <% end %>
      <% if @owned_by_user  %>
    <% if !@is_new_file%>
            <div class="btn-group">
              <% unless @compare_file.nil? %>
              <a href="#" id="unpublish-button" class="btn"><i class="icon-repeat"></i> Merge</a>
              <% end %>
              <% if @file.is_public %>
                <a href="#" id="unpublish-button" class="btn"><i class="icon-remove-circle"></i> Unpublish</a>
              <% else %>
                <a href="#" id="publish-button" class="btn btn-success"><i class="icon-upload icon-white"></i> Publish</a>
              <% end %>
            <a href="#" class="btn btn-primary hide" id="edit-button">Save</a>
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            More
            <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
            <li style="text-align: right"><%= link_to "New", {:controller => "task_folder", :action=>"new_file", :path=>@file.path, :username=>current_user.username}, :method=>:post%></li>
            <li style="text-align: right"><a href="#" id="move-button">Move</a></li>
            <li style="text-align: right"><a href="#"  id="copy-button" >Copy</a></li>
            <li style="text-align: right"><a href="#" id="delete-button">Delete</a></li>
            </ul>
         </div>
    <% else %>
        <div class="new-mode-buttons">
        <a href="#" id="save-new" class="btn btn-primary">Save</a>
        </div>
    <% end %>
    <% end %>

  </div>
</div>
  <div id="status" style="display:none">&nbsp;</div>
  <div id="page-path" style="display:none"><%=url_for(:controller => "task_folder", :action=>"folder_view", :path=> @file.filename, :only_path => true, :username=>@file.user.username)%></div>


  <% if @owned_by_user && params[:compare].nil?%>
    <div id="read-only-contents" style="font-family: courier new;width:100%;border: solid black 1px">
      <textarea id="editor"><%=@file.contents%></textarea>
      </div>
 <% else %>
      <article id="read-only-contents" style="width:95%;margin: .5em;">
        <% unless params[:compare].nil? %>
            <% @diff.each do |diff|%>
                <% if diff.action == "="%>
                    <div><%=diff.new_element%></div>
                <% elsif diff.action == "-"%>
                    <div style="color:red"><%=diff.old_element%></div>
                <% elsif diff.action == "+"%>
                   <div style="color:green"><%=diff.new_element%></div>
                <% elsif diff.action == "!" %>
                    <div style="color:red"><%=diff.old_element%></div>
                    <div style="color:green"><%=diff.new_element%></div>
                <% end %>
             <% end %>
        <% else %>
            <%@file.formatted_lines.each do |line|%>
               <%=render_line(line).html_safe%>
            <% end %>
        <% end %>
        </article>
<% end %>
<%=render 'note_file_details'%>

    <%= form_tag(url_for(:controller=>"task_folder", :action=>"update"), :remote => true, :method=>:put,:format => :json, :id => "update-form") do  %>
    <%= hidden_field_tag 'savecontents'%>
    <%= hidden_field_tag 'filename'%>
    <%= hidden_field_tag 'current-path', params[:path] %>
<% end %>
  </div>


 <div class="span4" style="background-color:#F2F4F8;">
   <div id="right-rail-created-by" style="padding:1em;">
     <%= render 'right_rail_created_by'%>
   </div>
  <% unless @is_new_file%>

       <div id="accordion-group">
       <div style="padding:1em;">
          <h3 style="border-bottom:solid #D8DFEA 1px;margin-bottom:.5em;"><a data-toggle="collapse" data-parent="#accordion-group" href="#related-events"><i class="icon-calendar"></i> Related Events</a> (<%=@events.length%>)</h3>
         <div style="margin-left:.5em;" id="related-events" class="collapse out">
         <%@events.each do |event|%>
               <div><a href=""><%=event.created_at.to_s%> - <%=event.title%> </a></div>
         <% end%>
          </div>
         </div>

       <div style="padding:1em;">
         <h3 style="border-bottom:solid #D8DFEA 1px;margin-bottom:.5em;"><a data-toggle="collapse" data-parent="#accordion-group" href="#notestream"><i class="icon-list-alt"></i> Notestream</a> (6)</h3>
               <div id="notestream" class="collapse out">
                 <div>
           <%= render 'right_rail_revisions'%>
         </div>
       <div id="right-rail-folder-files">
     <%= render 'right_rail_folder_files'%>
       </div>
         </div>

         </div>
       <div style="padding:1em;">
         <h3 style="border-bottom:solid #D8DFEA 1px;margin-bottom:.5em;"><a data-toggle="collapse" data-parent="#accordion-group" href="#tasks"><i class="icon-check"></i> Tasks</a> (<%=@tasks.length%>)</h3>
            <div style="margin-left:.5em; margin-bottom:1em;" id="tasks" class="collapse out">
             <% @tasks.each do |task|%>
                  <div><input type="checkbox" style="margin-right:1em;"><%=task.title%></div>
             <% end %>
        </div>
       </div>
         </div>

 <% end %>


  </div>
</div>

    </div>
