<% content_for :javascript_includes do %>
    <%= javascript_include_tag "undo_mode" %>
  <%= javascript_include_tag "edit_file"  %>

<% end %>
<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag "task_folder"  %>
<% end %>
<script type="text/javascript ">
function convertToSlug(Text)
{
    return Text
        .toLowerCase()
        .replace(/[^\w ]+/g,'')
        .replace(/ +/g,'-')
        ;
}

</script>
<script>
   function toggleFullscreenEditing()
    {
        var editorDiv = $('#read-only-contents');
        if (!editorDiv.hasClass('fullscreen')) {
            toggleFullscreenEditing.beforeFullscreen = { height: editorDiv.height(), width: editorDiv.width() }
            editorDiv.addClass('fullscreen');
            editorDiv.height('100%');
            editorDiv.width('100%');
            editor.refresh();
        }
        else {
            editorDiv.removeClass('fullscreen');
            editorDiv.height(toggleFullscreenEditing.beforeFullscreen.height);
            editorDiv.width(toggleFullscreenEditing.beforeFullscreen.width);
            editor.refresh();
        }
    }

</script>
<%= render 'layouts/breadcrumb'%>

<input style="display:none;position:absolute;" class="autocomplete" type="text" data-provide="typeahead" data-source='["doug","debbie","darryl","jamy"]' data-items="4">
<% if !@is_new_file %>
<%= render 'modals'%>
<% else %>
    <%=form_tag url_for(:action=>"update", :controller => "task_folder"), :method=>:put, :remote=>true, :id => "save-new-form"  do %>
    <div id="save-modal" class="modal hide fade">
      <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Save New File</h3>
      </div>
      <div class="modal-body">
          <div class="clearfix">
          <div>Filename</div>
          <div class="input">
                <input id="filename" name="filename" class="xlarge">
          </div>
          </div>

      </div>
      <div class="modal-footer">
        <%=hidden_field_tag "savecontents"%>
        <a href="#"  id="confirm-save-file" class="btn btn-primary">Save</a>
        <a href="#" id="cancel-save-file" class="btn secondary">Cancel</a>
      </div>
    </div>
    <% end %>

<% end%>
<style>

</style>

<% content_for :buttons do %>
<% end %>

<div class="row-fluid">


  <div class="span8">
<div class="row-fluid" style="margin-bottom:.2em;">
  <h1 style="display:inline; margin-right:.5em;"><%=@header%><%=render 'access_labels'%></h1>
   <% unless @compare_file.nil? %>
   <div>Compared to <%=link_to file_local_path(@compare_file), file_local_path(@compare_file)%></div>
   <% end %>

    <span id="loading" class="label" style="display:none">Saving...</span>

    <div class="pull-right">

      <% if !@owned_by_user %>
          <div class="btn-group">
          <a href="#" class="btn btn-success" id="copy-button"><i class="icon-download icon-white"></i> Copy</a>
       </div>
      <% end %>
      <% if @owned_by_user  %>
    <% if !@is_new_file%>
            <div class="btn-group">
              <% unless @compare_file.nil? %>
              <a href="#" id="unpublish-button" class="btn"><i class="icon-repeat"></i> Merge</a>
              <% end %>
              <% if @file.is_public %>
                <a href="#" id="unpublish-button" class="btn"><i class="icon-remove-circle"></i> Unpublish</a>
              <% else %>
                <a href="#" id="publish-button" class="btn btn-success"><i class="icon-upload icon-white"></i> Publish</a>
              <% end %>
            <a href="#" class="btn btn-primary hide" id="edit-button">Save</a>
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            More
            <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
            <li style="text-align: right"><%= link_to "New", {:controller => "task_folder", :action=>"new_file", :path=>@file.path, :username=>current_user.username}, :method=>:post%></li>
            <li style="text-align: right"><a href="#" id="move-button">Move</a></li>
            <li style="text-align: right"><a href="#"  id="copy-button" >Copy</a></li>
            <li style="text-align: right"><a href="#" id="delete-button">Delete</a></li>
            </ul>
         </div>
    <% else %>
        <div class="new-mode-buttons">
        <a href="#" id="save-new" class="btn btn-primary">Save</a>
        </div>
    <% end %>
    <% end %>

  </div>
</div>
  <div id="status" style="display:none">&nbsp;</div>
  <div id="page-path" style="display:none"><%=url_for(:controller => "task_folder", :action=>"folder_view", :path=> @file.filename, :only_path => true, :username=>@file.user.username)%></div>


  <% if @owned_by_user && params[:compare].nil?%>
    <div id="read-only-contents" style="font-family: courier new;width:100%;border: solid black 1px">
      <textarea id="editor"><%=@file.contents%></textarea>
      </div>
 <% else %>
      <article id="read-only-contents" style="width:95%;margin: .5em;">
        <% unless params[:compare].nil? %>
            <% @diff.each do |diff|%>
                <% if diff.action == "="%>
                    <div><%=diff.new_element%></div>
                <% elsif diff.action == "-"%>
                    <div style="color:red"><%=diff.old_element%></div>
                <% elsif diff.action == "+"%>
                   <div style="color:green"><%=diff.new_element%></div>
                <% elsif diff.action == "!" %>
                    <div style="color:red"><%=diff.old_element%></div>
                    <div style="color:green"><%=diff.new_element%></div>
                <% end %>
             <% end %>
        <% else %>
            <%@file.formatted_lines.each do |line|%>
               <%=render_line(line).html_safe%>
            <% end %>
        <% end %>
        </article>
<% end %>
<%=render 'note_file_details'%>

    <%= form_tag(url_for(:controller=>"task_folder", :action=>"update"), :remote => true, :method=>:put,:format => :json, :id => "update-form") do  %>
    <%= hidden_field_tag 'savecontents'%>
    <%= hidden_field_tag 'filename'%>
    <%= hidden_field_tag 'current-path', params[:path] %>
<% end %>
  </div>

  <div class="slideshow">
    <div class="slideshow-foreground">
    <% @slides.each_with_index do |slide, index|%>
        <div class="slide <%=slide.slide_type.to_s%>" id="slide<%=index%>">
           <%=render "slide_" + slide.slide_type.to_s, :slide => slide%>
          <div class="slideshow-nav"><a href="#" class="slide-button" next-slide="slide<%=index+1%>">Next</a></div>
        </div>
       <% end%>
     </div>
  </div>


<!--    <div class="slide" id="slide1">
      <div class="headline">
      <h1>A header slide</h1>
       <h2>There's only 2 or 3 lines on this slide</h2>
       <h3>That's why it looks like a header!</h3>
        <div class="slideshow-nav"><a href="#" class="slide-button" next-slide="slide2">Next</a></div>
      </div>
    </div>
    <div class="slide" id="slide2">
        <h1>Picture Slide</h1>
        <div style="text-align: center"><img src="http://img.foodnetwork.com/FOOD/2007/12/21/eatingwell_recipe_2610_lead.jpg"></div>
        <h3 style="text-align: center">There's a single picture, so we focus on that</h3>
      <div class="slideshow-nav"><a href="#" class="slide-button" next-slide="slide3">Next</a></div>
     </div>
      <div class="slide" id="slide3">
          <h1>A "Task"</h1>
           <h2 style="text-align: center"><input type="checkbox">Here is a summary of the task</h2>
         <div style="text-align: center"> <img src="  http://www.natureskills.com/wp-content/uploads/2009/07/iStock_000001800069Small-538x354.jpg"></div>
        <h3 style="text-align: center">Some more details about how to do this thing</h3>
        <div class="slideshow-nav"><a href="#" class="slide-button" next-slide="slide4">Next</a></div>
      </div>
        <div class="slide" id="slide4">
          <h1>Multiple Tasks - Just words</h1>
           <h2><input type="checkbox">First Task</h2>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</h4>
        <h2><input type="checkbox">Second task</h2>
     <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h4>
        <h2><input type="checkbox">Third task</h2>
     <h4>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</h4>
        <div class="slideshow-nav"><a href="#" class="slide-button" next-slide="slide5">Next</a></div>
      </div>
      <div class="slide" id="slide5">
          <h1>Random Notes with some tabbing</h1>
           <h2>Category1</h2>
           <h3>Lorem ipsum dolor sit amet</h3>
           <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</h4>
        <h2>Category2</h2>
        <h3>Lorem ipsum dolor sit amet</h3>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</h4>
        <h2>Category3</h2>
        <h3>Lorem ipsum dolor sit amet</h3>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</h4>
        <div class="slideshow-nav"><a href="#" class="slide-button" next-slide="slide6">Next</a></div>
      </div>

      <div class="slide" id="slide6">
           <h1>Lots of Pictures Slide</h1>
            <ul class="thumbnails">
              <li class="span3">
                <img src="http://i.imgur.com/c1UE7.jpg" class="thumbnail">
              </li>
              <li class="span3">
                <img src="http://i.imgur.com/12H5f.jpg" class="thumbnail">
              </li>
              <li class="span3">
                <img src="http://i.imgur.com/JZFnb.jpg" class="thumbnail">
              </li>
              <li class="span3">
                <img src="http://i.imgur.com/WJQf6.jpg" class="thumbnail">
              </li>
            </ul>
           <h3 style="text-align: center">There's a bunch of pictures, so we try to show them all</h3>
         <div class="slideshow-nav"><a href="#" class="slide-button" next-slide="slide7">Next</a></div>
        </div>
      <div class="slide" id="slide7">
        <div class="headline">
        <h1>The End!</h1>
          <div class="slideshow-nav"><a href="#" class="slide-button" next-slide="slide2">Next</a></div>
        </div>
      </div>

      </div>
  </div>-->

 <div class="span4" id="right-rail" style="background-color:#F2F4F8;">
   <div id="right-rail-created-by" style="padding:1em;">
     <%= render 'right_rail_created_by'%>
   </div>
  <% unless @is_new_file%>

       <div id="accordion-group">
         <div style="padding:1em;">
            <h3 style="border-bottom:solid #D8DFEA 1px;margin-bottom:.5em;"><a data-toggle="collapse" data-parent="#accordion-group" href="#slides"><i class="icon-picture"></i> Slides (<%=@slides.length%>)</a> </h3>
           <div style="margin-left:.5em;" id="slides" class="collapse out">
             <% @slides.each_with_index do |slide, index|%>
                 <div><a class="slide-link" href="#" slide-index="<%=index%>"><%=slide.sections.first.line_sections.first.text%></a></div>
              <% end%>
            </div>
           </div>


       <div style="padding:1em;">
          <h3 style="border-bottom:solid #D8DFEA 1px;margin-bottom:.5em;"><a data-toggle="collapse" data-parent="#accordion-group" href="#related-events"><i class="icon-calendar"></i> Related Events</a> (<%=@events.length%>)</h3>
         <div style="margin-left:.5em;" id="related-events" class="collapse out">
         <%@events.each do |event|%>
               <div><%=event.title%></div>
         <% end%>
          </div>
         </div>

       <div style="padding:1em;">
         <h3 style="border-bottom:solid #D8DFEA 1px;margin-bottom:.5em;"><a data-toggle="collapse" data-parent="#accordion-group" href="#notestream"><i class="icon-list-alt"></i> Notestream</a> (<%=@note_activities.length%>)</h3>
           <div id="notestream" class="collapse out">
           <%= render 'right_rail_revisions'%>
         </div>

         </div>
       <div style="padding:1em;">

         <h3 style="border-bottom:solid #D8DFEA 1px;margin-bottom:.5em;"><a data-toggle="collapse" data-parent="#accordion-group" href="#tasks"><i class="icon-check"></i> Tasks</a> (<%=@task_count%>)</h3>
            <div style="margin-left:.5em; margin-bottom:1em;" id="tasks" class="collapse out">
              <%= render 'task_group', :group=>@tasks_grouped, :level=>0%>
        </div>
       </div>
         </div>

 <% end %>


  </div>
</div>

