<% content_for :javascript_includes do %>
  <%= javascript_include_tag "undo_mode" %>
  <%= javascript_include_tag "edit_file"  %>
  <%= javascript_include_tag "shortcuts/file"  %>

<% end %>
<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag "task_folder"  %>
<% end %>

<%= render 'layouts/breadcrumb'%>

<input style="display:none;position:absolute;" class="autocomplete" type="text" data-provide="typeahead" data-source='["doug","debbie","darryl","jamy"]' data-items="4">
<% if !@is_new_file %>
<%= render 'modals'%>
<% else %>
    <%=form_tag url_for(:action=>"update", :controller => "task_folder"), :method=>:put, :remote=>true, :id => "save-new-form"  do %>
    <div id="save-modal" class="modal hide fade">
      <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Save New File</h3>
      </div>
      <div class="modal-body">
          <div class="clearfix">
          <div>Filename</div>
          <div class="input">
                <input tabindex=1 id="filename" name="filename" class="xlarge">
          </div>
          </div>
      </div>
      <div class="modal-footer">
        <%=hidden_field_tag "savecontents"%>
        <input type="submit" id="confirm-save-file" class="btn btn-primary">
        <a href="#" id="cancel-save-file" class="btn secondary">Cancel</a>
      </div>
    </div>
    <% end %>

<% end%>

<div class="row-fluid">
    <div class="span8" id="article-column">
      <div class="row-fluid" id="article-body">
        <div id="status" style="display:none">&nbsp;</div>
        <div id="page-path" style="display:none"><%=url_for(:controller => "task_folder", :action=>"folder_view", :path=> @file.filename, :only_path => true, :username=>@file.user.username)%></div>
        <div class="editor-title">
          <h1 style="display:inline; margin-right:.5em;"><%=@header%></h1>
             <% unless @compare_file.nil? %>
                <div>My version:<%=link_to file_local_path(@file), file_local_path(@file)%></div>
                <div>Compared to <%=link_to file_local_path(@compare_file), file_local_path(@compare_file)%></div>
                <% if @merge_error  %>
                <div class="alert alert-error">
                  <div style="font-weight: bold">Merge Conflict</div>
                  <div>We could not automatically merge these changes</div>
                  <ul>
                  <li>Review <%=link_to @compare_file.user.username + "'s note", file_local_path(@compare_file)%>.</li>
                  <li>Compare them to <%=link_to "your note", file_local_path(@file)%>.</li>
                  <li>Paste any changes back in to your file.</li>
                  </ul>
                </div>
                  <% end %>
             <% end %>
              <div class="pull-right" id="button-container">
                  <%=render 'access_labels'%>
                  <%= render 'editor_buttons' %>
              </div>
        </div>
        <% if @owned_by_user && (@compare_file.nil? && !@combined) && !@file.is_read_only%>
          <div id="read-only-contents">
            <div class="editor-border"></div>
            <textarea id="editor"><%=@file.contents%></textarea>
          </div>
        <% else %>
          <div class="editor-border"></div>
          <article id="read-only-contents" style="width:95%;margin: .5em;">
           <% unless @merge_error  %>
            <% unless @diff_html.nil? %>
              <%@diff_html.each do |line|%>
                  <%=line.html_safe%>
                  <% end %>
              <% else %>
                  <%@file.formatted_lines.each do |line|%>
                     <%=render_line(line).html_safe%>
                  <% end %>
              <% end %>
          <% end %>
         </article>
        <% end %>
          <%= form_tag(url_for(:controller=>"task_folder", :action=>"update"), :remote => true, :method=>:put,:format => :json, :id => "update-form") do  %>
              <%= hidden_field_tag 'savecontents'%>
              <%= hidden_field_tag 'filename'%>
              <%= hidden_field_tag 'current-path', params[:path] %>
          <% end %>
      </div>

    </div>
    <div class="span4" id="right-rail">
       <div id="right-rail-created-by" style="padding:1em;">
         <%= render 'right_rail_created_by'%>
       </div>
      <% unless @is_new_file%>

           <div id="accordion-group">
             <div style="padding:1em;">
              <h3 style="border-bottom:solid #D8DFEA 1px;margin-bottom:.5em;"><a data-toggle="collapse" data-parent="#accordion-group" href="#replies"><i class="icon-indent-left"></i> Replies</a> (<%=@replies.length%>)</h3>
                <div id="replies" class="collapse out">
                <%= render 'right_rail_revisions', :notes=>@replies%>
              </div>
              </div>


             <div style="padding:1em;">
                <h3 style="border-bottom:solid #D8DFEA 1px;margin-bottom:.5em;"><a data-toggle="collapse" data-parent="#accordion-group" href="#slides"><i class="icon-picture"></i> Slides (<%=@slides.length%>)</a> </h3>
               <div style="margin-left:.5em;" id="slides" class="collapse out">
                 <% @slides.each_with_index do |slide, index|%>
                     <div><a id="slide<%=index%>-link" class="slide-link" href="#" slide-index="<%=index%>"><%=slide.title%></a></div>
                  <% end%>
                </div>
               </div>

             <% if @file_user == current_user %>
             <div style="padding:1em;">
                <h3 style="border-bottom:solid #D8DFEA 1px;margin-bottom:.5em;"><a data-toggle="collapse" data-parent="#accordion-group" href="#shared_with"><i class="icon-picture"></i> Shared With (<%=@shared_with.length%>)</a> </h3>
               <div style="margin-left:.5em;" id="shared_with" class="collapse out">
                 <% @shared_with.each_with_index do |user, index|%>
                     <div style="float:left;padding-right: 5px;">
                       <%= image_tag user.avatar.url(:thumb) %>
                     </div>
                     <div style="font-size:1.5em"><%= link_to user.username, user_path(user) %></div>
                  <% end%>
                </div>
               </div>
              <% end %>


           <div style="padding:1em;">
             <h3 style="border-bottom:solid #D8DFEA 1px;margin-bottom:.5em;"><a data-toggle="collapse" data-parent="#accordion-group" href="#notestream"><i class="icon-folder-open"></i> In this folder</a> (<%=@same_folder_notes.length%>)</h3>
               <div id="notestream" class="collapse out">
               <%= render 'right_rail_revisions', :notes=>@same_folder_notes%>
             </div>

             </div>

             <div style="padding:1em;">
               <h3 style="border-bottom:solid #D8DFEA 1px;margin-bottom:.5em;"><a data-toggle="collapse" data-parent="#accordion-group" href="#tagged"><i class="icon-tag"></i> Tagged</a> (<%=@tagged.length%>)</h3>
                 <div id="tagged" class="collapse out">
                 <%= render 'right_rail_revisions', :notes=>@tagged%>
               </div>

               </div>

           <div style="padding:1em;">
             <h3 style="border-bottom:solid #D8DFEA 1px;margin-bottom:.5em;"><a data-toggle="collapse" data-parent="#accordion-group" href="#tasks"><i class="icon-check"></i> Tasks</a> (<%=@task_count%>)</h3>
                <div style="margin-left:.5em; margin-bottom:1em;" id="tasks" class="collapse out">
                  <%= render 'task_group', :group=>@tasks_grouped, :level=>0%>
            </div>
           </div>

           <div style="padding:1em;">
              <h3 style="border-bottom:solid #D8DFEA 1px;margin-bottom:.5em;"><a data-toggle="collapse" data-parent="#accordion-group" href="#related-events"><i class="icon-calendar"></i> Related Events</a> (<%=@events.length%>)</h3>
             <div style="margin-left:.5em;" id="related-events" class="collapse out">
             <%@events.each do |event|%>
				 <div><%=event.title%><%=event.created_at%></div>
             <% end%>
              </div>
             </div>
           </div>

     <% end %>


      </div>
</div>

<div class="slideshow" tabindex="10">
    <div class="slideshow-foreground">
    <% @slides.each_with_index do |slide, index|%>

        <div class="slide <%=slide.slide_type.to_s%>" slide-id="<%=index%>" id="slide<%=index%>">
           <%=render "slide_" + slide.slide_type.to_s, :slide => slide%>
          <div class="slideshow-nav">
            <a href="#" class="prev-button">Prev</a> |
            <a href="#" class="next-button">Next</a>
          </div>
        </div>
       <% end%>
     </div>
  </div>
