
<li class="undo-ul-li-heading">
  <% if !user_owns_file(file)%>
      <%= link_to  "@" + file.user.username, {:controller => "task_folder", :action=>"folder_view", :path=> "/", :only_path => @only_path, :username=>file.user.username}, :class=>"user-link"%>
  <% end %>
  <% if !file.copied_from.nil?  && file.user.id != current_user.id && file.copied_from.user_id == current_user.id %>
      <%= link_to  file.shortName + " (reply)", :controller => "task_folder", :action=>"folder_view", :path=> file.copied_from.filename, :compare=> file_local_path(file), :only_path => @only_path, :username=>current_user.username%>
 <% elsif file.copied_to.any?{|a| a.user_id == current_user.id}%>
      <%= link_to  file.shortName + " (reply)", :controller => "task_folder", :action=>"folder_view", :path=> file.copied_to.find_by_user_id(current_user.id).filename, :compare=> file_local_path(file), :only_path => @only_path, :username=>current_user.username%>
  <% else %>
      <%= link_to  file.shortName, :controller => "task_folder", :action=>"folder_view", :path=> file.filename, :only_path => @only_path, :username=>file.user.username%>
  <% end %>
</li>
  <%
     slideshow = file.slideshow
     img = slideshow.first_image
      unless img.nil?%>
          <%= image_tag img, :class=>"note-thumbnail" %>
     <%   end%>
<%file.to_enum(:get_lines).to_a.first(25).each do |line|%>
     <div class="undo-ul-li-desc"><%=render_line(line).html_safe%></div>
<% end%>
<li class="path italics"><%=time_ago_in_words(file.revision_at ||= DateTime.now)%> ago in <%= link_to (file.task_folder.shortName.blank? ? "/" : file.task_folder.shortName), task_folder_local_path(file.task_folder)%></li>
<div style="clear:both"></div>