<% content_for :javascript_includes do %>

  <%= javascript_include_tag "undo_mode" %>

<% end %>
<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag "task_folder"  %>
<% end %>

<%= render 'layouts/breadcrumb'%>
<%= render 'modals'%>

<% content_for :buttons do %>
<% end %>

<div class="row">
<div class="span8">
<div class="row">

  <h1><%=@header%>  <%=render 'access_labels'%></h1>

  <div class="span5">
    <div class="pull-right">
    <% if !@is_new_file%>
            <div class="btn-group">
            <a href="#" class="btn btn-success" id="copy-button"><i class="icon-download icon-white"></i> Copy</a>
         </div>
    <% else %>
        <div class="new-mode-buttons">
        <a href="#" id="save-new" class="btn primary">Save</a>
        </div>
    <% end %>
       </div>
  </div>
</div>
  <div id="status" style="display:none">&nbsp;</div>
    <div id="loading" style="display:none">Saving...</div>
    <article id="read-only-contents" style="width:100%;margin: .5em; border: solid black 1px; padding: 1em;">
      <%@file.formatted_lines.each do |line|%>
         <%=render_line(line).html_safe%>
      <% end %>
      </article>

  <%=render 'note_file_details'%>
    <%= form_for(@file, :remote => true) do |f| %>
    <%= f.hidden_field :contents%>
    <%= f.hidden_field 'filename'%>
    <%= hidden_field_tag 'current-path', params[:path] %>
<% end %>
  </div>

<div class="span4">
  <% unless @is_new_file%>
      <h3>Notestream</h3>
       <div id="right-rail-revisions">
         <%= render 'right_rail_revisions'%>
       </div>

  <h3>Feed</h3>
      <ul style="margin-left:0">
  <% @people.each do |person|%>
      <li class="undo-divider"><%=link_to person.name, :controller => "task_folder", :action => "person_view", :path=>@file.path , :person=>person.name%> </li>
      <%person.files.each do |file|%>
        <li class="undo-ul-li-heading">
          <%=link_to file.file.shortName, :controller => "task_folder", :action => "folder_view", :path=>file.file.filename %></li>
          <%file.file.to_enum(:get_lines).first(3).each do |line|%>
                <li class="undo-ul-li-desc"><%=line%></li>
          <% end%>
      <% end %>

  <% end %>

  <%@related_tags.each do |tag|%>
      <li class="undo-divider"><%=link_to "#" + tag.name, :controller => "task_folder", :action => "topic_view", :path=>@file.path , :topic=>tag.name%></li>
      <%tag.files.each do |file|%>
        <li class="undo-ul-li-heading"><%=link_to file.file.shortName, :controller => "task_folder", :action => "folder_view", :path=>file.file.filename %></li>
        <%file.file.to_enum(:get_lines).first(3).each do |line|%>
              <li class="undo-ul-li-desc"><%=line%></li>
        <% end%>
      <% end %>
  <% end %>
   </ul>
  <% end %>
</div>
</div>
