<div style="position: relative;">
  <div id="delete-modal" class="modal hide fade">
    <div class="modal-header">
      <a href="#" class="close">&times;</a>
      <h3>Delete <%=@file.shortName%>?</h3>
    </div>
    <div class="modal-body">
        <div class="clearfix">
        <div>Are you sure you want to delete <%=@file.filename%>?</div>
        </div>
    </div>
    <div class="modal-footer">
      <%= link_to 'Delete', @file, methodf: :delete, :class => "btn danger"%>
      <a href="#" id="cancel-delete-file" class="btn secondary">Cancel</a>
    </div>
  </div>
</div>

<% content_for :buttons do %>
<%= link_to "New", {:controller => "task_folder", :action=>"new_file", :path=>params[:path]}, :class=>"btn primary"%>
<a href="#" id="edit-button" class="btn primary">Edit</a>
<a href="#" id="delete-button" class="btn danger">Delete</a>
<% end %>

<%= render 'pill_views', :selected_view => :notes%>

<% if !@file.contents.nil? %>
   <pre id="read-only-contents"><%=@file.contents.strip%></pre>

  <div id="ace-editor"><%=@file.contents.strip%></div>
    <div>Last updated <%=@file.revision_at%></div>
<%= form_for(@file, :remote => true) do |f| %>
    <%= f.hidden_field :contents%>
<% end%>
<% end %>


