<ul class="history">

  <% notes.each_with_index do |activity, index|%>

   <% if index > 0 %>
          <li class="history-divider"></li>
   <% end %>
    <li>

      <div style="float:left;padding-left:1em;">

        <div style="float:left">
          <%=image_tag activity.file.user.avatar.url(:thumb)%>
        </div>
        <div style="float:left;padding-left: .5em">
        <% if activity.activity_type == :same_folder%>
            <i class="icon-folder-open"></i>
              <%=link_to activity.file.shortName, file_local_path(activity.file)%>

            <div style="margin-left:.5em;font-style: italic;color:gray;">  in this folder <%=time_ago_in_words(activity.published_at)%> ago</div>
        <% elsif activity.activity_type == :same_tag%>
              <i class="icon-tag"></i>
                <%=link_to activity.file.shortName, file_local_path(activity.file)%>
              <div style="margin-left:.5em;font-style: italic;color:gray;">  tagged
                <%activity.tags.each do |tag|%>
                <%=link_to  tag, :controller => "task_folder", :action => "folder_view", :path=>"/" , :q=>tag%>
                <% end %>
                <%=time_ago_in_words(activity.published_at)%> ago</div>
        <% elsif activity.activity_type == :replies%>
            <div style="margin-left:.5em;"> <%=activity.summary%></div>
            <i class="icon-retweet"></i> <%=link_to activity.user.username, user_path(activity.user)%>
            <div style="margin-left:.5em;font-style: italic;color:gray;"> Replied <%=time_ago_in_words(activity.published_at)%> ago</div>
            <div style="margin-left:.7em;">at <%=link_to file_local_path(activity.file),file_local_path(activity.file)%></div>
            <div style="margin-left:.7em;"><i class="icon-resize-horizontal"></i> <%=link_to "compare" ,url_for(:controller=>"task_folder", :action => "folder_view", :path=>@file.filename, :compare=>file_local_path(activity.file))%></div>
        <% end %>
          </div>
      </div>
    </li>

  <% end %>

</ul>
<div style="clear:both;padding-bottom: 1em;"></div>


