<ul style="margin-left:0">
<% @people.each do |person|%>
<li class="undo-divider"><%=link_to person.name, :controller => "task_folder", :action => "person_view", :path=>@file.path , :person=>person.name%> </li>
<%person.files.each do |file|%>
  <li class="undo-ul-li-heading">
    <%=link_to file.file.shortName, :controller => "task_folder", :action => "folder_view", :path=>file.file.filename %></li>
    <%file.file.to_enum(:get_lines).first(3).each do |line|%>
          <li class="undo-ul-li-desc"><%=line%></li>
    <% end%>
<% end %>

<% end %>

<%@related_tags.each do |tag|%>
<li class="undo-divider"><%=link_to "#" + tag.name, :controller => "task_folder", :action => "folder_view", :path=>@file.path , :q=>tag.name%></li>
<%tag.files.each do |file|%>
  <li class="undo-ul-li-heading"><%=link_to file.file.shortName, :controller => "task_folder", :action => "folder_view", :path=>file.file.filename %></li>
  <%file.file.to_enum(:get_lines).first(3).each do |line|%>
        <li class="undo-ul-li-desc"><%=line%></li>
  <% end%>
<% end %>
<% end %>
 </ul>
