<% group.each do |subgroup|%>
    <% if subgroup.respond_to?(:first) %>
    <div style="font-weight:bold;margin-left:<%=level%>em"><%=subgroup.first%></div>
        <div style="margin-bottom:1em">
    <%=render 'task_group', :group => subgroup.second, :level=>level+1%>
        </div>
    <% else %>
        <div style="margin-left:<%=level%>em">
          <input class="task-checkbox-in-file" line-number="<%=subgroup.line_number%>" type="checkbox" <%=subgroup.completed ? "CHECKED" : ""%> style="margin-right:1em;"><div style="display:inline" id="task_<%=subgroup.line_number%>"><%=subgroup.title%></div>
        </div>
    <% end %>
 <% end %>
