<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag "task_folder"  %>
<% end %>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "dashboard" %>
<% end %>
<div class="container-fluid">
  <div class="row">
      <h1>Welcome <%=current_user.display_name%></h1>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <h2>My Notes</h2>
      <%@changed_files_by_folder.each do |folder_item|%>
        <%= render 'task_folder/note_box_folder', :folder_item =>folder_item, :show_avatar=>false,:show_public_path=>false,:note_class=>"note-box-3x5-bootstrap" %>
      <% end %>
    </div>
    <div class="span4">
      <h2>Just Getting Started?</h2>
      <div class="dashboard-module">
        <h3><a href="/public/guides/undo">Learn more about undo</a></h3>
        <p>We publish lots of information as public notes. It's a great place to start learning about how to use undo.</p>
        <p><a href="/public/guides/undo">Explore undo guides</a></p>
        <p><a href="/public">Explore all public notes</a></p>
      </div>
      <h2>Upcoming Events</h2>
      <div class="dashboard-module">
        <% @notes_by_date.each do |date, noteslist| %>
          <div class="undo-new-header"><%=date%></div>
          <% noteslist.group_by{|note| note.file}.each do |file, notes|%>
            <div style="font-style:italic" class="undo-ul-li-desc">
              in <%=link_to file_local_path(file), file_local_path(file)%>
            </div>
            <% notes.each do |note| %>
              <div class="undo-ul-li-desc">
                <%=note.slide.title%>        
              </div>
            <% end %>
        <% end %>
        <% end %>
      </div>
  </div>
  <div class="span4">
    <h2>Following</h2>
    <% if @public_changed_files_by_folder.length == 0%>
      <div class="dashboard-module">
      <div>No files found.  <a href="/public">Find some people to follow</a></div>
    </div>
    <% else %>
      <%@public_changed_files_by_folder.each do |folder_item|%>
        <%= render 'task_folder/note_box_folder', :folder_item =>folder_item, :show_avatar=>true,:show_public_path=>true,:note_class=>"note-box-3x5-bootstrap" %>
      <% end %>
    <% end %>
  </div>
  </div>
</div>
