<style>
  .header-path, .header-path A:link, .header-path A:visited
  {
      font-size:24pt;
      margin-left:5pt;
      margin-bottom:5pt;

  }
    .column
    {
        float:left;
    }

    .file-column
    {
        float:left;
    }

    .viewer-column
    {
        float:left;
    }

    .icon-image
    {
        width:40px;
    }

  .explorer
  {
      width:30em;
      overflow: hidden;
      float:left;
  }

  .box-header
  {
      font-size: 1.5em;

  }
        .box2
        {
              width:25em;
              border: 1px solid #d3d3d3;;
              margin: 10px;
              padding: 0px;
              overflow-x:hidden;
              overflow-y : auto;

        }

    .file-line
    {

        padding: 5px;
        font-size: 1.3em;
    }

      .summary-content
      {
          padding: 1em;
          width:50em;
      }


        .contents
        {
            display: block;
            margin: 10px;
            border:  solid 1px #d3d3d3;
            width: 100%;
            min-width: 70em;
            min-height: 40em;
        }

        .change-foldername
        {
            font-size: 1em;
            padding:  .5em;
        }

        .change-file LI
        {
            font-size: 1.3em;
        }
        .change-filename
        {
            font-size: 1.2em;
            margin-left: 1.5em;
            margin-right: 1em;
            margin-bottom: 0;
        }

        .change-line-count
        {
            font-style: italic;
            color: gray;
        }

        .change-file UL
        {
            list-style-type: none;
        }


        .file-header
        {
            background-color: #dcdcdc;
            padding: 1.5em;

        }

        .file-header-name
        {
            text-align: center;
            margin:  0 auto;
            font-size: 1.5em;
        }

        .file-actions
        {
            float:right;
            display: inline-block;
        }

        .time-range
        {
            float:left;
            padding: 1em;
            margin: .2em;
        }

        .time-filter
        {
            float: none;
            overflow: hidden;
        }

        .ace-editor {
            width:100%;
            height:100%;
            display: none;
    }

</style>
<div class="header-path">
  <%= link_to "Home", :controller => "task_folder", :action=>"folder_view", :path=>"/"%>
  <% @path_parts.each do |part| %>
    <%= link_to part[:name], :controller => "task_folder", :action=>"folder_view", :path=>part[:path] %> /
<% end %>
  <% if !@file.nil? %>
      <%= link_to @file.shortName, :controller => "task_folder", :action=>"folder_view", :path=>@file.filename %>
    <%end%>
</div>
<div class="explorer">
<% if @folders.length > 0 %>
    <div class="column folder-column">
      <% @folders.each do |folder|%>

          <div class="box2">
               <div class="box-header">
                    <div class="filename" style="vertical-align: middle">
                     <%=image_tag("folder.png", :class => "icon-image")%>
                      <%= link_to folder.shortName, :controller => "task_folder", :action=>"folder_view", :path=>folder.path %>
                    </div>
                </div>
            </div>
          <% end %>
    </div>
<% end %>
<% if @files.length > 0 %>
      <div class="column file-column">
           <% @files.each do |file|%>
                <div class="box2">
                  <div class="box-header">
                        <div class="filename">
                          <%=image_tag("text-file-icon.png", :class => "icon-image")%>
                                <%= link_to file.shortName, :controller => "task_folder", :action=>"folder_view", :path=>file.filename%>
                          </div>
                  </div>
                </div>
            <% end %>
      </div>
 <% end %>
 </div>

<div class="column viewer-column">
<% if !@file.nil?%>
      <div id="editor-holder" class="contents file">
        <div class="file-header">
          <div class="file-actions">
                <%= link_to "edit", :controller => "todo_files", :action=>"edit", :id=>@file.id%>
          </div>
          <div class="file-header-name"><%=@file.filename%></div>
        </div>
        <div class="summary-content">
      <% @file.get_lines do |line|%>
            <div class="file-line"><%=line%></div>
      <% end %>
          </div>
        <div id="editor" class="ace-editor"><% @file.get_lines do |line|%><%=line%><% end %></div>
        </div>
<% end%>

 <% if @file.nil? %>
  <div class="contents summary">
    <div class="file-header">
      <div class="file-header-name"><%=@taskfolder.shortName%> Summary</div>
    </div>
    <div class="time-filter">
       <div class="time-range">When:</div>
        <% @ranges.each do |range|%>
      <div class="time-range"><%= link_to range[:name], :controller => "task_folder", :action=>"folder_view", :path=>params[:path], :end_date => range[:end_date], :start_date => range[:start_date] %></div>
    <% end %>
    </div>
    <div class="summary-content">
        <%= render "summary_notes", :changed_folders => @changed_folders%>
    </div>
  </div>
 <% end %>
</div>
</div>

