<% if !@file.nil?%>
       <div style="position: relative;">
         <div style="float:right; display:inline-block; position: absolute; right:0; bottom:0; margin-right: .5em; margin-bottom: .5em;">
           <a href="#" id="edit-button" class="btn primary">Edit</a>
           <a href="#" id="delete-button" class="btn danger">Delete</a>
         </div>
         <div id="delete-modal" class="modal hide fade">
           <div class="modal-header">
             <a href="#" class="close">&times;</a>
             <h3>Delete <%=@file.shortName%>?</h3>
           </div>
           <div class="modal-body">
               <div class="clearfix">
               <div>Are you sure you want to delete <%=@file.filename%>?</div>
               </div>
           </div>
           <div class="modal-footer">
             <%= link_to 'Delete', @file, methodf: :delete, :class => "btn danger"%>
             <a href="#" id="cancel-delete-file" class="btn secondary">Cancel</a>
           </div>
         </div>

       <h2 style="display:inline-block;"><%=@header%></h2>
         </div>
       <% if !@file.contents.nil? %>
          <pre id="read-only-contents"><%=@file.contents.strip%></pre>

         <div id="ace-editor"><%=@file.contents.strip%></div>
           <div>Last updated <%=@file.revision_at%></div>
       <%= form_for(@file, :remote => true) do |f| %>
           <%= f.hidden_field :contents%>
       <% end%>
       <% end %>


   <% end%>

 <% if @file.nil? %>

    <div class="row" style="margin-bottom: .5em;">
      <div  class="span10">
        <h2><%=@header%></h2>
      </div>
    </div>

    <div>
        <ul style="display: inline-block;margin-bottom: 0px;" class="pills">
          <li class="active"><%= link_to "Notes", {:controller => "task_folder", :action=>"folder_view", :path=>params[:path]}%></li>
          <li><%= link_to "Tasks", {:controller => "task_folder", :action=>"task_view", :path=>params[:path]}%></li>
          <li><%= link_to "People", {:controller => "task_folder", :action=>"folder_view", :path=>params[:path]}%></li>
          <li><%= link_to "Agenda", {:controller => "task_folder", :action=>"folder_view", :path=>params[:path]}%></li>
          <li><%= link_to "Topics", {:controller => "task_folder", :action=>"folder_view", :path=>params[:path]}%></li>
        </ul>
        <div style="float: right">
          <%= link_to "New", {:controller => "task_folder", :action=>"new_file", :path=>params[:path]}, :class=>"btn primary"%>
        </div>
      </div>


    <ul style="margin-left:0em;">
        <% @changed_files_by_date.each do |date_item| %>
          <li class="undo-divider"><%=date_item.first%></li>
          <% date_item.second.sort_by{|a| a[:file].revision_at}.reverse.each do |file| %>
              <li class="undo-ul-li-heading"><%= link_to  file[:file].shortName, :controller => "task_folder", :action=>"folder_view", :path=> file[:file].filename, :only_path => @only_path%></li>
              <%file[:changedLines].first(3).each do |line|%>
                   <li class="undo-ul-li-desc"><%=line%></li>
              <% end%>
              <li class="undo-ul-li-desc path"><%=time_ago_in_words(file[:file].revision_at)%> ago in <%= link_to file[:file].path, :controller => "task_folder", :action=>"folder_view", :path=> file[:file].path, :only_path => @only_path%></li>
              <% if file[:changedLines].length > 3 %>
              <li class="undo-ul-li-desc italics"><%=file[:changedLines].length  - 3%> more changes</li>
              <% else %>
              <li class="undo-ul-li-desc italics"><%=file[:changedLines].length%> changes</li>
              <% end %>
          <% end %>
        <% end %>
      </ul>
 <% end %>