<style>
  .header-path, .header-path A:link, .header-path A:visited
  {
      font-size:24pt;
      margin-left:5pt;
      margin-bottom:5pt;

  }

    .column
    {
        float:left;
    }

        .icon-image
        {
            width:40px;
        }


        .column-header
        {


        }

  .box-header
  {
      font-size: 1.5em;



  }
        .box2
        {
              width:5in;
              float: none;
              border: 1px solid #d3d3d3;;
              margin: 10px;
              padding: 0px;
              overflow-x:hidden;
              overflow-y : auto;

        }

</style>
<div class="header-path">
  <%= link_to "Home", :controller => "task_folder", :action=>"folder_view", :path=>"/"%>

  <% @path_parts.each do |part| %>
    <%= link_to part[:name], :controller => "task_folder", :action=>"folder_view", :path=>part[:path] %> /
<% end %>
</div>

<div class="column">
      <% @folders.each do |folder|%>

          <div class="box2">
               <div class="box-header">
                    <div class="filename" style="vertical-align: middle">
                     <%=image_tag("folder.png", :class => "icon-image")%>
                      <%= link_to folder.shortName, :controller => "task_folder", :action=>"folder_view", :path=>folder.path %>
                    </div>
                    </div>
            </div>
          <% end %>


     <% @files.each do |file|%>
          <div class="box2">
            <div class="box-header">

                    <% if file.path == @taskfolder.path%>
                  <div class="filename">
                    <%=image_tag("text-file-icon.png", :class => "icon-image")%>
                          <%= link_to file.shortName, :controller => "todo_files", :action=>"show", :id=> file.id%>
                   <% else %>
                  <div class="filename" style="background-color:white;">
                  <%=image_tag("text-file-icon.png", :class => "icon-image")%>
                        <%= link_to file.shortName, :controller => "todo_files", :action=>"show", :id=> file.id%>
                   in <%=file.path%>
                   <% end %>
                    </div>

                 </div>
               </div>
      <% end %>
  </div>

</div>
  <div class="column">
      <div style="padding:5px; width:800px; height:500px; margin-top:10px; border: solid gray 1px">
 <div class="timeline">
   <div style="height:20px;font-weight:bold;">Timeline</div>
   <div style="float:left">
   <div>
   <div style="float:left; ;margin:1px;width:163.1459213519662px">11 Jan 05:02</div>
   <div style="float:left; ;margin:1px;width:405.9148521286968px">08 Jan 05:02</div>
   <div style="float:left; ;margin:1px;width:74.09814754631135px">05 Jan 05:02</div>
   <div style="float:left; ;margin:1px;width:50.0px">02 Jan 05:02</div>
   </div>
   <div class="clear"></div>
   <div>
     <div class="timebox" href="/task_folder/show?end=2012-01-11T05%3A02%3A16%2B00%3A00&amp;path=%2F&amp;start=2012-01-08T05%3A02%3A16%2B00%3A00" style="width:163.1459213519662px">
       &nbsp;
     </div>
     <div class="timebox" href="/task_folder/show?end=2012-01-08T05%3A02%3A16%2B00%3A00&amp;path=%2F&amp;start=2012-01-05T05%3A02%3A16%2B00%3A00" style="width:405.9148521286968px">
       &nbsp;
     </div>
     <div class="timebox" href="/task_folder/show?end=2012-01-05T05%3A02%3A16%2B00%3A00&amp;path=%2F&amp;start=2012-01-02T05%3A02%3A16%2B00%3A00" style="width:74.09814754631135px">
       &nbsp;
     </div>
     <div class="timebox" href="/task_folder/show?end=2012-01-02T05%3A02%3A16%2B00%3A00&amp;path=%2F&amp;start=2011-12-30T05%3A02%3A16%2B00%3A00" style="width:50.0px">
       &nbsp;
     </div>
   </div>
   </div>
 </div>

        <div class="clear"></div>
        <div style="margin-left:10px;padding: 5px;">
        <div style="padding: 5px;">
          <div style="font-size:14pt;font-weight:bold;">Career</div>
          <div class="task">
                    <div class="task-line">This doc intends to describe my career plan</div>
                   <div class="task-filename">in Career-Plan.txt (6 changes)</div>
                    <div class="task-line">Conversation with Mike about ongoing role</div>
                   <div class="task-filename">in New-role.txt (9 changes)</div>

          </div>

          </div>
          <div style="padding: 5px;">
            <div style="font-size:14pt;font-weight:bold;">Google Calendar</div>
            <div class="task">
                      <div class="task-line">Calendar item</div>
                     <div class="task-filename">in calendar.txt (6 changes)</div>

            </div>

            </div>
          <div style="padding: 5px;">
            <div style="font-size:14pt;font-weight:bold;">Home</div>
            <div class="task">
                      <div class="task-line">This doc intends to describe my career plan</div>
                     <div class="task-filename">in Career-Plan.txt (6 changes)</div>
                      <div class="task-line">Conversation with Mike about ongoing role</div>
                     <div class="task-filename">in New-role.txt (9 changes)</div>

            </div>

            </div>

          </div>
         </div>



   </div>

 </div>
