<% if params[:part] == "files" || params[:part].nil? %>
<div data-theme="d" data-role="page" id="files">
<div data-role="header">
  <h1>
      <%= link_to "Home", :controller => "task_folder", :action=>"folder_view", :path=>"/"%>
      <% @path_parts.each do |part| %>
        <%= link_to part[:name], :controller => "task_folder", :action=>"folder_view", :path=>part[:path] %> /
    <% end %>
      <% if !@file.nil? %>
          <%= link_to @file.shortName, :controller => "task_folder", :action=>"folder_view", :path=>@file.filename %>
        <%end%>
  </h1>
</div>
  <div data-theme="e"  data-role="navbar" >
    <ul>
     <li><%= link_to "Files", {:controller => "task_folder", :action=>"folder_view", :path=>@taskfolder.path, :part=>"files"}, :class=>"ui-btn-active"%></li>
     <li><%= link_to "Tasks", :controller => "task_folder", :action=>"folder_view", :path=>@taskfolder.path, :part=>"tasks" %></li>
     <li><%= link_to "Summary", :controller => "task_folder", :action=>"folder_view", :path=>@taskfolder.path, :part=>"summary" %></li>
     </ul>
  </div>
<div data-role="content">
<% if @file.nil? %>
  <ul data-role="listview">
    <% if @folders.length > 0 %>
          <% @folders.each do |folder|%>
               <li><a href="<%= url_for(:controller => "task_folder", :action=>"folder_view", :path=>folder.path, :trailing_slash => true)%>"><%=folder.shortName%></a></li>
          <% end %>
    <% end %>
    <% if @files.length > 0 %>
       <% @files.each do |file|%>
           <li><%= link_to file.shortName, :controller => "task_folder", :action=>"folder_view", :path=>file.filename%></li>
        <% end %>
     <% end %>
  </ul>
</div>
<% else %>
        <div>
        <% @file.get_lines do |line|%>
          <div><%=line%></div>
        <% end %>
        </div>
<% end %>
  <div data-role="footer" class="ui-bar">
       <!--<div style="padding-right:20px;text-align:right;float:right;"><a href="/options" data-icon="gear" class="ui-btn-right">options</a></div>-->
        <div><span class="undo-un">un</span><span class="undo-do">do</span><span class="undo-io">.io</span> - undo your notes</div>
  </div>
</div>
<% if @file.nil? %>

<% end %>
<% end %>
<% if params[:part] == "tasks" %>
<div data-role="page" data-theme="d" id="tasks">
  <div data-role="header">
    <h1>
        <%= link_to "Home", :controller => "task_folder", :action=>"folder_view", :path=>"/"%>
        <% @path_parts.each do |part| %>
          <%= link_to part[:name], :controller => "task_folder", :action=>"folder_view", :path=>part[:path] %> /
      <% end %>
        <% if !@file.nil? %>
            <%= link_to @file.shortName, :controller => "task_folder", :action=>"folder_view", :path=>@file.filename %>
          <%end%>
    </h1>
    </div>
  <div data-role="navbar">
    <ul>
     <li><%= link_to "Files", :controller => "task_folder", :action=>"folder_view", :path=>@taskfolder.path, :part=>"files" %></li>
     <li><%= link_to "Tasks", {:controller => "task_folder", :action=>"folder_view", :path=>@taskfolder.path, :part=>"tasks"}, :class=>"ui-btn-active" %></li>
     <li><%= link_to "Summary", :controller => "task_folder", :action=>"folder_view", :path=>@taskfolder.path, :part=>"summary" %></li>
     </ul>
  </div>
  <div data-role="content">
    <div data-role="fieldcontain">
      <fieldset data-role="controlgroup">
    <% @tasks.each_with_index do |task, index| %>
                <input type="checkbox" name="checkbox-<%=index%>" id="checkbox-<%=index%>" class="custom" />
                <label for="checkbox-<%=index%>"><%=task.contents%></label>
     <% end%>
      </fieldset>
    </div>
  </div>
</div>
<% end %>

<% if params[:part] == "summary" %>
<div data-role="page" id="summary" class="type-interior">
  <div data-role="header">
    <h1>
        <%= link_to "Home", :controller => "task_folder", :action=>"folder_view", :path=>"/"%>
        <% @path_parts.each do |part| %>
          <%= link_to part[:name], :controller => "task_folder", :action=>"folder_view", :path=>part[:path] %> /
      <% end %>
        <% if !@file.nil? %>
            <%= link_to @file.shortName, :controller => "task_folder", :action=>"folder_view", :path=>@file.filename %>
          <%end%>
    </h1>
    </div>

  <div data-role="navbar">
    <ul>
     <li><%= link_to "Files", :controller => "task_folder", :action=>"folder_view", :path=>@taskfolder.path, :part=>"files" %></li>
     <li><%= link_to "Tasks", :controller => "task_folder", :action=>"folder_view", :path=>@taskfolder.path, :part=>"tasks" %></li>
      <li><%= link_to "Summary", {:controller => "task_folder", :action=>"folder_view", :path=>@taskfolder.path, :part=>"summary"}, :class=>"ui-btn-active" %></li>
     </ul>
  </div>
<div data-role="content">
  <ul data-role="listview">
    <% @changed_files_by_date.each do |date_item| %>
      <li data-role="list-divider" tabindex="0"><%=date_item.first%><span class="ui-li-count">1</span></li>
      <% date_item.second.each do |file| %>
            <li role="option" tabindex="-1" class="ui-li ui-btn ui-btn-icon-right ui-btn-up-c" data-theme="c">
              <a href="<%= url_for :controller => "task_folder", :action=>"folder_view", :path=> file[:file].filename, :only_path => @only_path %>">
                <h3>
                  <%=file[:file].shortName%>
                </h3>
                  <%file[:changedLines].first(3).each do |line|%>
                       <p><%=line.strip%></p>
                  <% end%>
              <% if file[:changedLines].length > 3 %>
              <p><%=file[:changedLines].length  - 3%> more changes</p>
              <% else %>
              <p><%=file[:changedLines].length%> changes</p>
          <% end %>
              </a>
            </li>

      <% end %>
    <% end %>
    </ul>
  </div>
</div>
<% end %>
