<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag "task_folder"  %>
<% end %>
<%= render 'layouts/breadcrumb'%>
    <div class="content">
    <div class="row-fluid">
    <div class="span3">
        <%= render 'layouts/folder_list'%>
      </div>
     <div id="main-body" class="span9">
       <div class="row-fluid" style="margin-bottom: .5em;">
         <div style="float: right;">
           <%= render 'layouts/search_form' %>
         </div>
         <div style="margin: 0">
           <h1>Note Feed</h1>
         </div>
       </div>
       <div>
             <ul style="display: inline-block;margin-bottom: 0px;" class="nav nav-pills">
                   <li class="active"><a href>All the things</a></li>
               <li><a href>Just for me</a></li>
             </ul>
       </div>

         <%= render 'task_folder/file_feed'%>
     </div>
    </div>

    </div>
