<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag "task_folder"  %>
<% end %>
<%= render 'layouts/breadcrumb'%>
    <div class="content">
    <div class="row">
    <div class="span4">
        <%= render 'layouts/folder_list'%>
      </div>
     <div id="main-body" class="span8">
       <div class="row" style="margin-bottom: .5em;">
         <div class="span4" style="margin: 0">
           <h2>Latest Notes</h2>
         </div>
         <div class="span4" style="text-align: right;">
           <%= render 'layouts/search_form' %>
         </div>
       </div>
       <div class="row">
         <%= render 'task_folder/file_feed'%>
       </div>
     </div>
    </div>

    </div>
