<div class="header-bar" style="width:3000px">
<% @topfolders.each do |folder| %>
<div class="folder-header">
  <%= link_to folder.name, :controller=> "task_folder", :action=>"show",  :path => folder.name%>
  </div>
<% end %>
</div>

<!--<div class="box todo">
  <div class="box-header">
      <div class="filename">Tasks</div>
  </div>
  <% @files.each do |row| %>

  <div style="margin-bottom:10px">
    <div style="margin-left:10px">
    <% row.each do |line| %>
       <div><%= link_to line[:task].line, line[:task]%></div>
    <% end %>
   </div>
  </div>
<% end %>
</div>-->

<div style="width:5000px">
<% 0.upto(@rows) do |row| %>
   <% 0.upto(@cols) do |col|%>
          <% if @matrix[[col,row]].nil?%>
             <div class="box empty">
             <!-- <%=col%>:<%=row%> = empty-->
            </div>
          <% else %>
             <div class="box">
               <div class="box-header">
                    <div class="filename">
                      <% if @matrix[[col,row]].class.to_s == "TodoFile" %>
                          <%= link_to @matrix[[col,row]].name, @matrix[[col,row]]%></div>
                       <% else %>
                      <%= link_to @matrix[[col,row]].name, :controller=> "task_folder", :action=>"show",  :path => @matrix[[col,row]].name%></div>
                      <% end %>
                          <div class="file-summary">
                   <%@matrix[[col,row]].summary.each do |item|%>
                    <div><%=item%></div>
                   <% end%>
                 </div>
                 <div class="file-tasks">Recent Tasks</div>
                 <%@matrix[[col,row]].tasks.each do |item|%>
                  <div class="task"><%=item.line%></div>
                 <% end%>
                  <div class="file-changes">Recent Notes</div>
                 <div class="task"> ...
                 <% if !@matrix[[col,row]].nil?%>
                    <%@matrix[[col,row]].latestNotes.each do |item|%>
                    <%=item%>
                  <% end%> ...
                  <% end %>
                   </div>
                 </div>
            </div>
          <% end %>

    <%end%>
    <div class="clear"></div>
<%end%>
</div>
