<% timeline_width = 1000 %>
<% if !@uplevel.nil? %>
<div><%= link_to "Up to " + @uplevel, :controller=> "task_folder", :action=>"show",  :path => @uplevel%></div>
<% end %>

<div class="timeline">
  <div style="height:20px;font-weight:bold;">Timeline</div>
  <div style="float:left">
      <div>
        <% @timeline.each do |timeperiod|%>
          <div style="float:left; ;margin:1px;width:<%=(timeperiod[:percentTotal]*timeline_width) %>px"><%=timeperiod[:end_date].to_s(:short)%></div>
        <% end%>
      </div>
      <div class="clear"></div>
      <div>
          <% @timeline.each do |timeperiod|%>
            <div class="timebox" href="<%=url_for(:controller=> 'task_folder', :action=>'show', :path => params[:path], :start => timeperiod[:start_date], :end => timeperiod[:end_date])%>" style="width:<%=(timeperiod[:percentTotal]*timeline_width) %>px">
              &nbsp;
            </div>
          <% end%>
      </div>
  </div>
</div>

<!--
<ul class="date-menu">
<li>Dates: </li>
  <% @ranges.each do |range|%>
      <li>
        <%= link_to range[:name], :controller=> "task_folder", :action=>"show",  :path => params[:path], :range => range[:range]%></div>
      </li>
  <% end %>
 </ul>
-->

<div class="clear"></div>
<div class="header-bar">
<% @columnItems.each_with_index do |folder, index| %>
    <div class="folder-header">
      <%= link_to folder[:folder].shortName + "/", :controller=> "task_folder", :action=>"show",  :path => folder[:folder].name%>
    </div>
   <% end %>

<div class="clear"></div>

<div class="box-bar">
<% 0.upto(@rows) do |row| %>
   <% 0.upto(@cols) do |col|%>
          <% if @matrix[[col,row]].nil?%>
             <div class="box empty">
             <!-- <%=col%>:<%=row%> = empty-->
            </div>
          <% else %>
             <div class="box">
               <div class="box-header">
                    <div class="filename" style="">
                      <% if @matrix[[col,row]][:item].class.to_s == "TodoFile" %>
                          <%= link_to @matrix[[col,row]][:item].shortName, @matrix[[col,row]][:item]%></div>
                       <% else %>
                          <% if row == 0 %>
                                  <%= link_to @matrix[[col,row]][:item].shortName + "/ summary", :controller=> "task_folder", :action=>"show",  :path => @matrix[[col,row]][:item].name%></div>
                          <% else %>
                                  <%= link_to @matrix[[col,row]][:item].shortName + "/", :controller=> "task_folder", :action=>"show",  :path => @matrix[[col,row]][:item].name%></div>

                          <% end %>
                      <% end %>
                    </div>
                 <div class="task">
                 <% if @matrix[[col,row]][:changes].length > 0
                       if @matrix[[col,row]][:item].class.to_s  == "TodoFile"
                            rowCount = 3
                       else
                            rowCount = 1
                       end%>
                    <%@matrix[[col,row]][:changes].first(3).each do |change|
                       change[:changedLines].last(rowCount).each do |line|%>
                           <div class="task-line"><%=snippet(line, 8)%></div>
                       <% end %>
                       <% if @matrix[[col,row]][:item].class.to_s  == "TaskFolder"%>
                          <div class="task-filename">in <%=change[:file].shortName%> (<%=change[:changedLines].length%> changes)</div>
                       <% else
                            if (change[:changedLines].length > 3)%>
                                   <div class="task-filename"> <%=change[:changedLines].length - 3%> more changes</div>
                            <%end%>
                       <% end%>
                    <% end %>

                 <% end %>

                 </div>

            </div>
          <% end %>

    <%end%>
    <div class="clear"></div>
<%end%>
</div>
