<style>

  A.completed:link , A.completed:visited
  {
      text-decoration: line-through;
  }


</style>
<div class="row" style="margin-bottom: .5em;">
  <div  class="span10">
    <h2><%=@header%></h2>
  </div>
</div>

<div>
    <ul style="display: inline-block;margin-bottom: 0px;" class="pills">
      <li><%= link_to "Notes", {:controller => "task_folder", :action=>"folder_view", :path=>params[:path]}%></li>
      <li class="active"><%= link_to "Tasks", {:controller => "task_folder", :action=>"task_view", :path=>params[:path]}%></li>
    </ul>
    <div style="float: right">
      <%= link_to "New", {:controller => "task_folder", :action=>"new_file", :path=>params[:path]}, :class=>"btn primary"%>
    </div>
  </div>

<ul style="margin-left:0em;">

  <% @tasks_by_date.each do |date, tasklist| %>
      <li class="undo-divider"><%=date%></li>
      <% tasklist.each do |task| %>
          <li class="undo-ul-li-heading">

            <% if task.completed
               link_class = "completed"
               checked= "checked = ""true"""
            else
               link_class = "not-completed"
               checked = ""
            end%>
            <input type="checkbox" <%=checked%> class="task-checkbox" file_name="<%=task.file.filename%>" line_number="<%=task.line_number.to_s%>">
            <%=link_to task.title, {:controller => "task_folder", :action => "folder_view", :path=>task.file.filename, :line_number=>task.line_number.to_s}, :class=>link_class %>
            <% task.lines.each do |line| %>
              <li class="undo-ul-li-desc" style="margin-left:2em"><%=line%></li>
              <li class="undo-ul-li-desc path" style="margin-left:2em">in <%=link_to task.file.path, :controller => "task_folder", :action => "folder_view", :path=>task.file.path%></a></li>
              <li class="undo-ul-li-desc italics" style="margin-left:2.4em"><%=time_ago_in_words(task.file.revision_at)%> ago</li>
            <% end %>

      <% end %>
   <% end %>


</ul>

<%= form_for(:file, :url=>'/file/complete_task', :remote => true) do |f| %>
    <%= f.hidden_field :file_name%>
    <%= f.hidden_field :line_number%>
<% end%>