<style>
  A.completed:link , A.completed:visited
  {
      text-decoration: line-through;
  }
</style>

<div>
  <% content_for :buttons do %>
  <%= link_to "New", {:controller => "task_folder", :action=>"new_file", :path=>params[:path]}, :class=>"btn primary"%>
  <% if !@file.nil? %>
    <a href="#" id="edit-button" class="btn primary">Edit</a>
    <a href="#" id="delete-button" class="btn danger">Delete</a>
  <% end %>
  <% end %>

    <%= render 'pill_views', :selected_view => :tasks %>
  </div>

<% if @show_list_view %>
    <ul style="margin-left:0em;">
      <% @tasks_by_date.each do |date, tasklist| %>
          <li class="undo-divider"><%=date%></li>
          <% tasklist.each do |task| %>
            <%=render 'task_item', :task => task%>
           <% end %>
       <% end %>
    </ul>
<% else %>
    <div>
      <input type="checkbox" class="task-checkbox" file_name="<%=@task.file.filename%>" line_number="<%=@task.line_number.to_s%>">
      <%=@task.title%>
    </div>
    <div style="margin-left:1em">
    <% @task.lines.each do |line| %>
        <div><%=line%></div>
    <% end %>
    </div>
    <div class="time-ago-in-words"><%=time_ago_in_words(@task.file.revision_at)%> ago</div>
<% end %>
<%= form_tag('/file/complete_task' ,:remote=>true) do %>
    <%= hidden_field_tag :file_name%>
    <%= hidden_field_tag :line_number%>
    <%= hidden_field_tag :is_completed%>
<% end%>


