<div class="mobile-header">
  <%=@header%>
  <a href="#" class="btn btn-primary pull-right" data-toggle="collapse" data-target=".left-nav">Menu</a>
</div>

<div class="left-nav nav-collapse">
<div class="left-nav-section user-info">
  <%=render 'layouts/collapse_button', :site_section => 'site'%>
  <div>
    <%= image_tag @file_user.avatar.url(:thumb), :style=>"vertical-align:middle;" %>
    <h2 class="current-user-name"><%= link_to @file_user.display_name ||= @file_user.username, user_path(@file_user)%></h2>
  </div>
  <div style="clear:both"></div>

</div>

<% if @folders.length > 0 %>
<div class="left-nav-section">
  <a class="btn btn-navbar" data-toggle="collapse" data-target=".folder-hide-small">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </a>
<ul class="nav nav-list">
  <li class="nav-header">Folders</li>
  <li class="folder-hide-small nav-collapse">
    <ul class="nav section-contents folders">
      <% @folders.sort_by{|a| a.shortName.downcase}.each do |folder|%>
           <li> <a href="<%= url_for :controller => "task_folder", :action=>"folder_view", :path=>folder.path, :username=>@file_user.username %>">
           <%=folder.shortName%>
         </a></li>
      <% end %>
     </ul>
   </li>
 </ul>

</ul>
</div>
  <% end %>
<% if @files.length > 0 %>
<div class="left-nav-section">
  <%=render 'layouts/collapse_button', :site_section => 'file'%>

    <ul class="nav nav-list">
      <li class="nav-header">Files</li>
      <li class="file-hide-small nav-collapse">
      <ul class="nav section-contents files">
           <% @files_alpha_sorted.each do |file|%>
            <li>
            <a href="<%= url_for :controller => "task_folder", :action=>"folder_view", :path=>file.filename, :username=>@file_user.username %>">
                </i><%=file.shortName%>
            </a>
            </li>
        <% end %>
      </ul>
      </li>
      </ul>
 </div>
<% end %>

 <% if @people.length > 0 && false%>
    <div class="left-nav-section">
      <%=render 'layouts/collapse_button', :site_section => 'person'%>
     <ul class="nav nav-list">
      <li class="nav-header">People</li>
       <li class="person-hide-small nav-collapse">
       <ul class="nav section-contents">
         <% @people.each do |person|%>
          <li>
            <a href="<%= url_for :controller => "task_folder", :action=>"folder_view", :path=>@path, :q=>person, :username=>@file_user.username %>">
             <i class="icon-user"> </i><%=person%>
           </a>
          </li>
      <% end %>
       </ul>
       </li>
       </ul>
    </div>
 <% end %>
 </div>

