<h3><%=@file_user.username%></h3>
<ul>
   <li style="font-weight: bold"> <%= link_to "Root folder", :controller => "task_folder", :action=>"folder_view", :path=>"/", :username=>@file_user.username %></li>
</ul>

<% if @folders.length > 0 %>
<h3>Folders</h3>
<ul>
      <% @folders.each do |folder|%>
         <li> <%= link_to folder.shortName, :controller => "task_folder", :action=>"folder_view", :path=>folder.path, :username=>@file_user.username %></li>
      <% end %>
</ul>
  <% end %>
<% if @files.length > 0 %>
      <h3>Files</h3>
      <ul>
           <% @files.each do |file|%>
            <li>
            <%= link_to file.shortName, :controller => "task_folder", :action=>"folder_view", :path=>file.filename, :username=>@file_user.username %>
            </li>
        <% end %>
      </ul>
 <% end %>
 <% if @people.length > 0 %>
    <h3>People</h3>
    <ul>
         <% @people.each do |person|%>
          <li>
          <%= link_to person, :controller => "task_folder", :action=>"person_view", :path=>@path, :person=>person, :username=>@file_user.username %>
          </li>
      <% end %>
    </ul>

 <% end %>
