<div class="mobile-header">
  <%=@header%>
  <a href="#" class="btn btn-primary pull-right" data-toggle="collapse" data-target=".left-nav">Menu</a>
</div>

<div class="left-nav nav-collapse">
<div class="left-nav-section">
  <%=render 'layouts/collapse_button', :site_section => 'site'%>
  <div>
    <%= image_tag @file_user.avatar.url(:thumb), :style=>"vertical-align:middle;" %>
    <span><%= link_to @file_user.display_name ||= @file_user.username, user_path(@file_user), :style=>"font-weight:bold;font-size:1.2em;"%></span>
  </div>
  <div style="clear:both"></div>

  <ul class="nav nav-list ">
   <li class="nav-header">Site</li>
    <li class="site-hide-small nav-collapse">
    <ul class="nav section-contents" >
        <li>
          <a href="/"><i class="icon-home"></i>Public Notes</a>
        </li>
        <li>
         <a href="<%= url_for :controller => "task_folder", :action=>"folder_view", :path=>"/", :username=>@file_user.username %>">
       <i class="icon-inbox"></i>My notes</a>
       </li>
      <li>
       <a href="<%= url_for :controller => "task_folder", :action=>"folder_view", :path=>"/", :username=>@file_user.username %>">
     <i class="icon-envelope"></i>Shared Notes</a>
     </li>
      <li>
       <a href="<%= url_for :controller => "task_folder", :action=>"folder_view", :path=>"/", :username=>@file_user.username %>">
     <i class="icon-eye-open"></i>Recently Viewed</a>
     </li>
    </ul>
    </li>
    </ul>
</div>

<% if @folders.length > 0 %>
<div class="left-nav-section">
  <a class="btn btn-navbar" data-toggle="collapse" data-target=".folder-hide-small">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </a>
<ul class="nav nav-list">
  <li class="nav-header">Folders</li>
  <li class="folder-hide-small nav-collapse">
    <ul class="nav section-contents">
      <% @folders.sort_by{|a| a.shortName.downcase}.each do |folder|%>
           <li> <a href="<%= url_for :controller => "task_folder", :action=>"folder_view", :path=>folder.path, :username=>@file_user.username %>">
           <i class="icon-folder-open"></i><%=folder.shortName%>
         </a></li>
      <% end %>
     </ul>
   </li>
 </ul>

</ul>
</div>
  <% end %>
<% if @files.length > 0 %>
<div class="left-nav-section">
  <%=render 'layouts/collapse_button', :site_section => 'file'%>

    <ul class="nav nav-list">
      <li class="nav-header">Files</li>
      <li class="file-hide-small nav-collapse">
      <ul class="nav section-contents">
           <% @files.sort_by{|a| a.shortName.downcase}.each do |file|%>
            <li>
            <a href="<%= url_for :controller => "task_folder", :action=>"folder_view", :path=>file.filename, :username=>@file_user.username %>">
                <i class="icon-file"></i><%=file.shortName%>
            </a>
            </li>
        <% end %>
      </ul>
      </li>
      </ul>
 </div>
<% end %>

 <% if @people.length > 0 %>
    <div class="left-nav-section">
      <%=render 'layouts/collapse_button', :site_section => 'person'%>
     <ul class="nav nav-list">
      <li class="nav-header">People</li>
       <li class="person-hide-small nav-collapse">
       <ul class="nav section-contents">
         <% @people.each do |person|%>
          <li>
            <a href="<%= url_for :controller => "task_folder", :action=>"folder_view", :path=>@path, :q=>person, :username=>@file_user.username %>">
             <i class="icon-user"> </i><%=person%>
           </a>
          </li>
      <% end %>
       </ul>
       </li>
       </ul>
    </div>
 <% end %>
 </div>

