<ul class="nav nav-list">
   <li class="nav-header">Site</li>
    <li>
      <a href="/"><i class="icon-home"></i>Home</a>
    </li>
    <li>
     <a href="<%= url_for :controller => "task_folder", :action=>"folder_view", :path=>"/", :username=>@file_user.username %>">
   <i class="icon-inbox"></i><%=@file_user.username%></a>
   </li>
</ul>

<% if @folders.length > 0 %>
<ul class="nav nav-list">
  <li class="nav-header">Folders</li>
      <% @folders.each do |folder|%>
         <li> <a href="<%= url_for :controller => "task_folder", :action=>"folder_view", :path=>folder.path, :username=>@file_user.username %>">
           <i class="icon-folder-open"></i><%=folder.shortName%>
         </a></li>
      <% end %>
</ul>
  <% end %>
<% if @files.length > 0 %>
    <ul class="nav nav-list">
      <li class="nav-header">Files</li>
           <% @files.each do |file|%>
            <li>
            <a href="<%= url_for :controller => "task_folder", :action=>"folder_view", :path=>file.filename, :username=>@file_user.username %>">
                <i class="icon-file"></i><%=file.shortName%>
            </a>
            </li>
        <% end %>
      </ul>
 <% end %>
 <% if @people.length > 0 %>
    <ul class="nav nav-list">
      <li class="nav-header">People</li>
         <% @people.each do |person|%>
          <li>
            <a href="<%= url_for :controller => "task_folder", :action=>"folder_view", :path=>@path, :q=>person, :username=>@file_user.username %>">
             <i class="icon-user"> </i><%=person%>

            </a>

          </li>
      <% end %>
    </ul>

 <% end %>
