<!DOCTYPE html>
<html>
<head>
  <title>Undo.io</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "bootstrap-responsive" %>
  <%= javascript_include_tag "application" %>
<link href='http://fonts.googleapis.com/css?family=Ruluko' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
  <%= yield :javascript_includes %>
  <%= yield :stylesheet_includes %>
  <%= csrf_meta_tags %>
  <%= render "home/ga"%>
</head>
<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner" style="padding: 5px;">
        <div class="container" style="width:auto;">
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a class="brand" href="/"><span class="undo-un">un</span><span class="undo-do">do</span><span class="undo-io">.io</span></a>


          <div class="nav-collapse">
            <% if !user_signed_in? %>
              <ul class="nav pull-right">
              <li><%= link_to "Sign in", new_session_path(resource_name)%></li>
              </ul>
            <% else %>
              <ul class="nav">
                <%=content_tag :li, do%>
                  <%= link_to "New Note", {:controller => "task_folder", :action=>"new_file", :path=>(@path ||= '/'), :username=>current_user.username}, :method=>"post"%>
                <%end%>
                <%=content_tag :li, :class => (params[:username] != current_user.username ? "active" : nil)  do%><a href="/">Public Notes</a><%end%>
                <%=content_tag :li, :class => ((params[:username] == current_user.username && params[:shared] == nil) ? "active" : nil)  do%><%=link_to "My Notes", user_path(current_user)%><%end%>
                <%=content_tag :li, :class => (params[:username] == current_user.username && params[:shared] == "y" ? "active" : nil)  do%><%=link_to "Shared Notes", url_for(:controller=>"task_folder", :action => "folder_view", :username=>current_user.username, :path => "/", :shared=>"y")%><%end%>
                <li class="dropdown">
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle">Recent <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href>File1.txt</a></li>
                    <li><a href>File2.txt</a></li>
                    <li><a href>File3.txt</a></li>
                    <li><a href>File4.txt</a></li>
                  </ul>
              </ul>
              <ul class="nav pull-right">
                   <li class="dropdown">
                     <a href="#" data-toggle="dropdown" class="dropdown-toggle">Welcome <%=current_user.username%> <b class="caret"></b></a>
                     <ul class="dropdown-menu">
                       <li><%= link_to('Settings', :controller => 'user', :action=>"show") %></li>
                       <li><%= link_to('Services', :controller => "oauth_consumers") %></li>
                       <li class="divider"> </li>
                       <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
                     </ul>
                   </li>
                 </ul>

            <% end %>
        </div>
          </div>
        </div>
    </div>

    <div class="container-fluid">
        <%= content_for?(:content) ? yield(:content) : yield %>
      <footer>
        <p>&copy; Undo.io 2012</p>
      </footer>
    </div> <!-- /container -->


</body>
</html>
