<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag "task_folder"  %>
<% end %>
<% content_for :content do %>
<%= render 'task_folder/shared_notes_message' %>
    <div class="content">
    <div class="row-fluid">
     <div id="main-body">
       <div class="row-fluid" style="margin-bottom: .5em;">
         <div class="pull-right">
           <%= render 'layouts/search_form' %>
         </div>
         <div class="value-prop">
           <div>ReplyInline is a web notepad.</div>
           <div>Focus, organize and share.</div>
         </div>
       </div>
       <%= yield %>
     </div>
    </div>

    </div>
<% end %>
<%= render :template => 'layouts/application' %>
