<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag "task_folder"  %>
<% end %>
<% content_for :content do %>
<%= render 'task_folder/shared_notes_message' %>
<div class="content">
  <div class="row-fluid">
    <div id="main-body">
<%= render 'layouts/breadcrumb'%>
      <%= yield %>
    </div>
  </div>
</div>
<% end %>
<%= render :template => 'layouts/application' %>
