<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag "task_folder"  %>
    <link href='http://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
<% end %>
<% content_for :content do %>
<%= render 'layouts/breadcrumb'%>
    <div class="content">
    <div class="row-fluid">
    <div class="span2">
        <%= render 'layouts/folder_list'%>
      </div>
     <div id="main-body" class="span10">
       <div class="row-fluid" style="margin-bottom: .5em;">
         <div class="pull-right">
           <%= render 'layouts/search_form' %>
         </div>
         <div style="margin: 0">
           <h1><%=@header%></h1>
         </div>
       </div>
       <%= yield %>
     </div>
    </div>

    </div>
<% end %>
<%= render :template => 'layouts/application' %>
