<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag "task_folder"  %>
<% end %>
<% content_for :content do %>
<%= render 'task_folder/shared_notes_message' %>
    <div class="content">
    <div class="row-fluid">
    <div class="span2 folder-list">
        <%= render 'layouts/folder_list'%>
      </div>
     <div id="main-body" class="span10">
       <div class="row-fluid" style="margin-bottom: .5em;">
         <div style="margin: 0">
           <%= render 'layouts/breadcrumb'%>

         </div>
       </div>
       <%= yield %>
     </div>
    </div>

    </div>
<% end %>
<%= render :template => 'layouts/application' %>
