<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag "task_folder"  %>
<% end %>
<% content_for :content do %>
<%= render 'layouts/breadcrumb'%>
    <div class="content">
    <div class="row">
    <div class="span4">

      <% if @folders.length > 0 %>
            <h3>Folders</h3>
            <ul>
            <% @folders.each do |folder|%>
               <li> <%= link_to folder.shortName, :controller => "task_folder", :action=>"folder_view", :path=>folder.path %></li>
            <% end %>
      </ul>
        <% end %>
      <% if @files.length > 0 %>
            <h3>Files</h3>
            <ul>
                 <% @files.each do |file|%>
                  <li>
                  <%= link_to file.shortName, :controller => "task_folder", :action=>"folder_view", :path=>file.filename%>
                  </li>
              <% end %>
            </ul>
       <% end %>
       <% if @people.length > 0 %>
          <h3>People</h3>
          <ul>
               <% @people.each do |person|%>
                <li>
                <%= link_to person, :controller => "task_folder", :action=>"person_view", :path=>@path, :person=>person%>
                </li>
            <% end %>
          </ul>

       <% end %>
      </div>
     <div id="main-body" class="span8">
       <div class="row" style="margin-bottom: .5em;">
         <div  class="span4">
           <h2><%=@header%></h2>
         </div>
         <div class="span4" style="text-align: right;">

           <form action="<%= url_for :path=>@path%>" method="get" >
               <input name="q" class="span3" placeholder="search" value="<%=params[:q]%>">
            </form>
         </div>
       </div>

       <%= yield %>
     </div>
    </div>

    </div>
<% end %>
<%= render :template => 'layouts/application' %>
